<div class=" content" *ngIf="isShow">
    <div class=" row mt-5">
        <div class=" col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1>Submission {{id}}</h1>
                </div>
                <div class="card-body" >
                    <div class="row">
                        <div class="col-sm-3">
                            <i nz-icon nzType="book" nzTheme="outline"></i>Workshop:
                            <b>{{listSubmissionDetail.workshop.name}}</b>
                        </div>
                        <div class="col-sm-3">
                            <i nz-icon nzType="comment" nzTheme="outline"></i>Language:
                            <b>{{listSubmissionDetail.language.name}}</b>
                        </div>
                        <div class="col-sm-3">
                            <i nz-icon nzType="calendar" nzTheme="outline"></i>Date Submit:
                            <b>{{listSubmissionDetail.submitTime}}</b>
                        </div>
                        <div class="col-sm-3">
                            <i nz-icon nzType="field-time" nzTheme="outline"></i>Time Run: <b>{{runTimeTotal}}s</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <div class=" card card-chart">
                                <div class=" card-header">
                                    <h5 class=" card-category" style="font-size: 25px">Test Case Run Time</h5>
                                </div>
                                <div class=" card-body">
                                    <div class=" chart-area" style="width: 75%;"><canvas id="canvas"> </canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="listSubmissionDetail.judging != null">
                        <div class="col-md-12">
                            <h1>Judging {{listSubmissionDetail.judging.judgingId}}</h1>
                            Score: <b>{{listSubmissionDetail.score}}</b> &nbsp; Judgehost:
                            <b>{{listSubmissionDetail.judgeHost.name}}</b> &nbsp; Judging Start: <b>{{startTime}}</b>
                            &nbsp; Finished in <b>{{endTime}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Compilation</h1>
                            <div class="back">
                                <pre>{{listSubmissionDetail.judging.outputCompiled}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isModalShown" (onHidden)="onHidden()" [config]="{ show: true }" aria-hidden="true"
    aria-labelledby="myModalLabel" aria-hidden="true" aria-labelledby="myModalLabel" bsModal class=" modal fade"
    #noticeModal="bs-modal" id="noticeModal" role="dialog" tabindex="-1">
    <div class=" modal-dialog modal-notice">
      <div class=" modal-content">
        <div class=" modal-header">
          <button aria-hidden="true" class=" close" data-dismiss="modal" (click)="noticeModal.hide()" type="button">
            <i class=" tim-icons icon-simple-remove"> </i>
          </button>
          <h4 class=" modal-title" id="myModalLabel">
            Result:
          </h4>
        </div>
        <div class=" modal-body">
            <div class="dataTables_wrapper py-4">
                <table class=" table" id="simple-table">
                  <tbody>
                    <tr>
                      <th>TestCase: </th>
                      <td>{{detailRun.judgingRunId}}</td>
                    </tr>
                    <tr>
                        <th>Result: </th>
                        <td style="color: green !important" *ngIf="detailRun.runResult === 'correct'">{{detailRun.runResult}}</td>
                        <td style="color: red !important" *ngIf="detailRun.runResult !== 'correct'">{{detailRun.runResult}}</td>
                    </tr>
                    <tr>
                      <th>Run Time: </th>
                      <td>{{detailRun.runTime}}</td>
                    </tr>
                    <tr>
                        <th class="align-top">Metadata: </th>
                        <td>
                            <pre>{{metaData}}</pre>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-top">OutputDifferent: </th>
                        <td>
                            <pre>{{outDifferent}}</pre>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-top">OutputError: </th>
                        <td>
                            <pre>{{outError}}</pre>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-top">OutputRun: </th>
                        <td>
                            <pre>{{outRun}}</pre>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-top">OutputSystem: </th>
                        <td>
                            <p>{{outSystem}}</p>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        <div class=" modal-footer justify-content-center">
          <button class=" btn btn-info btn-round" data-dismiss="modal" (click)="noticeModal.hide()" type="button">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>