$blue1: #0081ff;
$green1: #00c853;
$brown1: #5d4037;
$red1: #ff1744;
$indigo1: #536dfe;

.badge-brown1 {
    color: #ffffff;
    background-color: $brown1;
}

.badge-red1 {
    color: #ffffff;
    background-color: $red1;
}

.badge-blue1 {
    color: #ffffff;
    background-color: $blue1;
}

.badge-indigo1 {
    color: #ffffff;
    background-color: $indigo1;
}

.badge-green1 {
    color: #ffffff;
    background-color: $green1;
}

