<div class=" fixed-plugin">
    <div class="show-dropdown dropdown" dropdown [insideClick]="true">
        <a id="button-basic" data-toggle="dropdown" dropdownToggle class="dropdown-toggle"
            aria-controls="dropdown-basic">
            <i class=" fa fa-cog fa-2x"> </i>
        </a>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li class=" header-title">Sidebar Background</li>
            <li class=" adjustments-line">
                <a class=" switch-trigger background-color" href="javascript:void(0)">
                    <div class=" badge-colors text-center">
                        <span class=" badge filter badge-brown1" [ngClass]="{ active: sidebarColor === 'brown1' }"
                            (click)="changeSidebarColor('brown1')">
                        </span>
                        <span class=" badge filter badge-blue1" [ngClass]="{ active: sidebarColor === 'blue1' }"
                            (click)="changeSidebarColor('blue1')">
                        </span>
                        <span class=" badge filter badge-green1" [ngClass]="{ active: sidebarColor === 'green1' }"
                            (click)="changeSidebarColor('green1')">
                        </span>
                        <span class="badge filter badge-red1" [ngClass]="{ active: sidebarColor === 'red1' }"
                            (click)="changeSidebarColor('red1')"></span>
                        <span class=" badge filter badge-indigo1" [ngClass]="{ active: sidebarColor === 'indigo1' }"
                            (click)="changeSidebarColor('indigo1')">
                        </span>
                    </div>
                    <div class=" clearfix"></div>
                </a>
            </li>
            <li class="header-title">Sidebar Mini</li>
            <li class="adjustments-line">
                <div class="togglebutton switch-sidebar-mini">
                    <span class="label-switch">OFF</span>
                    <bSwitch [switch-on-color]="'primary'" [switch-off-text]="' '" [switch-on-text]="' '"
                        [(ngModel)]="state" (onChangeState)="onChange($event)" (click)="onChange($event)"></bSwitch>
                    <span class="label-switch label-right">ON</span>
                </div>
            </li>
        </ul>
    </div>
</div>
