<div class=" content">
    <ng-template tabHeading>
        <i class="tim-icons icon-book-bookmark"> </i> Workshop
    </ng-template>
    <div class=" row mt-5">
        <div class="col-md-12 ml-auto mr-auto">
            <div class=" card">
                <div class=" card-body">
                    <h4 class="card-title">Subjects</h4>
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff"
                                    type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
                    <div class=" row">
                        <div class="col-md-auto ml-auto">
                            <button style="padding: 7px 11px !important; margin: 0 !important;"
                                class="btn btn-info btn-sm" (click)="showModal()">
                                Add subject
                            </button>
                        </div>
                    </div>
                    <table *ngIf="subjects.length === 0" class=" table" id="simple-table">
                        <nz-empty></nz-empty>
                      </table>
                        <table *ngIf="subjects.length !== 0" class=" table" id="simple-table">
                            <thead class=" text-primary">
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Subject Code</th>
                                    <th class="text-center">Language</th>
                                </tr>
                            </thead>
                            <tbody style="min-height: 400px;">
                                <tr *ngFor="let subject of subjects; index as i">
                                    <td class="text-center">{{ i+1 }}</td>
                                    <td class="text-center">{{ subject.subjectCode }}</td>
                                    <td class="text-center">{{ subject.language_id }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <nav *ngIf="isShowPagging" aria-label="Page navigation example">
                              <pagination class="justify-content-end" [boundaryLinks]="true" [(ngModel)]="currentPage"
                                [totalItems]="totalItems" [itemsPerPage]="perPage" (pageChanged)="pageChanged($event)"
                                [maxSize]="maxSize">
                              </pagination>
                        </nav> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
    class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
                    <i class="tim-icons icon-simple-remove"> </i>
                </button>
                <div class="text-muted text-center ml-auto mr-auto">
                    <h3 class="mb-0">Add Subject</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class=" col-md-12">
                    <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
                        <div class="form-group" [ngClass]="{
                            'has-danger': ((focusTouched || isValidFormSubmitted) && submitF.subjectCode.errors) ||
                            (submitF.subjectCode.invalid && submitF.subjectCode.touched),
                            'has-success': !submitF.subjectCode.errors
                          }">
                            <label for="code">Subject Code *</label>
                            <input (focus)="focusTouched = true" id="code" type="text" formControlName="subjectCode"
                                class="form-control" placeholder="Enter Subject Code" required>
                            <label class="error" *ngIf="
                                ((focusTouched1 || isValidFormSubmitted) && submitF.subjectCode.errors) ||
                                (submitF.subjectCode.value != '' && submitF.subjectCode.errors)
                              ">This field is required.</label>
                        </div>
                        <div class="form-group" [ngClass]="{
                            'has-danger':
                              ((focusTouched1 || isValidFormSubmitted) && submitF.language_id.errors) ||
                              (submitF.language_id.value != '' && submitF.language_id.errors),
                            'has-success': !submitF.language_id.errors
                          }">
                            <label for="change-subject">Select Language *</label>
                            <nz-select (focus)="focusTouched1 = true" formControlName="language_id" nzShowSearch
                                nzAllowClear nzPlaceHolder="Select a Language">
                                <nz-option *ngFor="let language of languages" [nzLabel]="language.name"
                                    [nzValue]="language.languageId"></nz-option>
                            </nz-select>
                            <label class="error" *ngIf="
                              ((focusTouched1 || isValidFormSubmitted) && submitF.language_id.errors) ||
                              (submitF.language_id.value != '' && submitF.language_id.errors)
                            ">You must select language</label>
                        </div>
                        <div class=" modal-footer justify-content-center">
                            <button type="submit" class="btn btn-info ml-auto mr-auto">Add Subject</button>
                            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>