$blue1: #0081ff;
$green1: #00c853;
$brown1: #5d4037;
$red1: #ff1744;
$indigo1: #536dfe;

.sidebar {
    &[data="blue1"] {
        background: $blue1 !important;
        &:before {
            border-bottom:5px solid $blue1 !important;
        }
    }
    &[data="green1"] {
        background: $green1 !important;
        &:before {
            border-bottom:5px solid $green1 !important;
        }
    }
    &[data="brown1"] {
        background: $brown1 !important;
        &:before {
            border-bottom:5px solid $brown1 !important;
        }
    }
    &[data="red1"] {
        background: $red1 !important;
        &:before {
            border-bottom:5px solid $red1 !important;
        }
    }
    &[data="indigo1"] {
            background: $indigo1 !important;
        &:before {
            border-bottom:5px solid $indigo1 !important;
        }
    }
}
