<div class=" content">
    <div class=" row mt-5">
        <div class=" col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-auto mr-auto">
                          <h4 class="card-title">Classes</h4>
                        </div>
                      </div>
                </div>
                <div class="card-body">
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
                    <div class="dataTables_wrapper py-4">
                        <table *ngIf="getClasses.length === 0" class="table">
                            <nz-empty></nz-empty>
                          </table>
                        <table class="table" *ngIf="getClasses.length !== 0">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Class</th>
                                    <th>Subject</th>
                                    <th>Teacher</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Semester</th>
                                    <th class="text-center">Activated</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of getClasses;index as i">
                                    <td class="text-center">{{i+1}}</td>
                                    <td>{{item.classCode}}</td>
                                    <td>{{item.subject.subjectCode}}</td>
                                    <td>{{item.teacher.username}}</td>
                                    <td>{{item.startTime}}</td>
                                    <td>{{item.endTime}}</td>
                                    <td>{{item.semester.name}}</td>
                                    <td class="text-center" *ngIf="item.activated === 1">Active</td>
                                    <td class="text-center" *ngIf="item.activated !== 1">De-active</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>