<div class=" content">
    <div class=" col-md-8 ml-auto mr-auto">
        <h2 class=" text-center">Add workshop</h2>
    </div>
    <div class=" row mt-5">
        <div class="col-md-9 ml-auto mr-auto">
            <div class=" card">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            Add Workshop
                        </h4>
                    </div>
                    <div class=" card-body">
                        <form [formGroup]="workshopForm" (ngSubmit)="onSubmit()">
                            <div class=" form-group has-label"
                                [ngClass]="{
                                    'has-danger':
                                      ((focusTouched || isValidFormSubmitted) && workshopF.name.errors) ||
                                      (workshopF.name.value != '' && workshopF.name.errors),
                                    'has-success': !workshopF.name.errors
                                  }">
                                <label> Name *</label>
                                <input 
                                    id="workshop-name"
                                    class=" form-control"
                                    type="text"
                                    (focus)="focusTouched = true"
                                    formControlName="name"
                                    name="name"/>
                                <label class="error" *ngIf="
                                ((focusTouched || isValidFormSubmitted) && workshopF.name.errors) ||
                                (workshopF.name.value != '' && workshopF.name.errors)
                              ">This field is required</label>
                            </div>
                            <div class=" form-group has-label" [ngClass]="{
                                'has-danger':
                                  ((focusTouched1 || isValidFormSubmitted) && workshopF.timeLimit.errors) ||
                                  (workshopF.timeLimit.value != '' && workshopF.timeLimit.errors),
                                'has-success': !workshopF.timeLimit.errors
                              }">
                                <label for="sec"> Timelimit (sec) *</label>
                                <input (focus)="focusTouched1 = true" id="sec" type="number" (keydown)="handleCharacterE($event)" class="form-control" formControlName="timeLimit">
                                <label class="error" 
                                    *ngIf="
                                    ((focusTouched1 || isValidFormSubmitted) && workshopF.timeLimit.errors) ||
                                    (workshopF.timeLimit.value != '' && workshopF.timeLimit.errors)
                                  ">This field is require</label>
                            </div>
                            <div class=" form-group">
                                <label for="mem"> Memlimit (kB) </label>
                                <input placeholder="2097152kb" id="mem" type="number" (keydown)="handleCharacterE($event)" class="form-control"
                                    formControlName="memoriesLimit">
                            </div>
                            <div class=" form-group">
                                <label for="output"> Outputlimit (kB) </label>
                                <input placeholder="8192kb" id="output" type="number" (keydown)="handleCharacterE($event)" class="form-control"
                                    formControlName="outputLimit">
                            </div>
                            <div class="form-group" [ngClass]="{
                                'has-danger':
                                  ((focusTouched3 || isValidFormSubmitted) && workshopF.subjectCode.errors) ||
                                  (workshopF.subjectCode.value !== '' && workshopF.subjectCode.errors),
                                'has-success': !workshopF.subjectCode.errors
                              }">
                                <label>Choose subject *</label>
                                <nz-select (focus)="focusTouched3 = true" formControlName="subjectCode" nzShowSearch nzAllowClear nzPlaceHolder="Select a Subject"
                                    (ngModelChange)="changeSubject($event)">
                                    <nz-option *ngFor="let subject of subjects$ | async"
                                        [nzLabel]="subject.subjectCode" [nzValue]="subject.subjectCode"></nz-option>
                                </nz-select>
                                <label class="error" 
                                    *ngIf="
                                    ((focusTouched3 || isValidFormSubmitted) && workshopF.subjectCode.errors) ||
                                    (workshopF.subjectCode.value != '' && workshopF.subjectCode.errors)
                                  ">You must choose subject code</label>
                            </div>
                            <div *ngIf="isShow" class="form-group has-label" [ngClass]="{
                                'has-danger':
                                  ((focusTouched4 || isValidFormSubmitted) && workshopF.categories.errors) ||
                                  (workshopF.categories.value !== [] && workshopF.categories.errors),
                                'has-success': !workshopF.categories.errors
                              }">
                                <label for="tag">Workshop Tags *</label>
                                <nz-select (focus)="focusTouched4 = true" formControlName="categories" nzMode="tags" nzPlaceHolder="Tag Mode">
                                    <nz-option *ngFor="let option of tagCategories$ | async; empty noData"
                                        [nzLabel]="option.categoryName" [nzValue]="option.categoryName"></nz-option>
                                    <ng-template #noData>
                                        <nz-option [nzLabel]="'NoData'" [nzValue]="'NoData'"></nz-option>
                                    </ng-template>
                                </nz-select>
                                <label class="error" 
                                    *ngIf="
                                    ((focusTouched4 || isValidFormSubmitted) && workshopF.categories.errors) ||
                                    (workshopF.categories.value != '' && workshopF.categories.errors)
                                  ">You must choose workshop tag</label>
                            </div>
                            <div class="form-group" [ngClass]="{
                                'has-danger':
                                  ((focusTouched5 || isValidFormSubmitted) && workshopF.content.errors) ||
                                  (workshopF.content.value !== '' && workshopF.content.errors),
                                'has-success': !workshopF.content.errors
                              }">
                                <label for="exampleFormControlTextarea1">Workshop Content *</label>
                                <div class="custom-file">
                                    <label class="custom-file-label" id="upload_workshop" for="customFile">Upload
                                        workshop content file...</label>
                                    <input (focus)="focusTouched5 = true" formControlName="content" id="up" class="custom-file-input" type="file"
                                        id="customFile" name="filename" (change)="handleFileInput($event)" #fileInput>
                                </div>
                                <label class="error" 
                                *ngIf="
                                ((focusTouched5 || isValidFormSubmitted) && workshopF.content.errors) ||
                                (workshopF.content.value != '' && workshopF.content.errors)
                              ">You must choose file</label>
                            </div>
                            <div class="form-group" [ngClass]="{
                                'has-danger':
                                  ((focusTouched6 || isValidFormSubmitted) && workshopF.specialRun.errors) ||
                                  (workshopF.specialRun.value !== '' && workshopF.specialRun.errors),
                                'has-success': !workshopF.specialRun.errors
                              }">
                                <label for="change-script">Run script *</label>
                                <nz-select (focus)="focusTouched6 = true" formControlName="specialRun" nzShowSearch nzAllowClear nzPlaceHolder="Select a script">
                                    <nz-option *ngFor="let script of scripts"
                                        [nzLabel]="script.executableId" [nzValue]="script.executableId"></nz-option>
                                </nz-select>
                                <label class="error" 
                                *ngIf="
                                ((focusTouched6 || isValidFormSubmitted) && workshopF.specialRun.errors) ||
                                (workshopF.specialRun.value != '' && workshopF.specialRun.errors)
                              ">You must choose run script</label>
                            </div>
                            <div class="form-group" [ngClass]="{
                                'has-danger':
                                  ((focusTouched7 || isValidFormSubmitted) && workshopF.specialCompare.errors) ||
                                  (workshopF.specialCompare.value !== '' && workshopF.specialCompare.errors),
                                'has-success': !workshopF.specialCompare.errors
                              }">
                                <label for="change-subject">Compare script *</label>
                                <nz-select (focus)="focusTouched7 = true" formControlName="specialCompare" nzShowSearch nzAllowClear nzPlaceHolder="Select a compare">
                                    <nz-option *ngFor="let compare of compares"
                                        [nzLabel]="compare.executableId" [nzValue]="compare.executableId"></nz-option>
                                </nz-select>
                                <label class="error" 
                                *ngIf="
                                ((focusTouched6 || isValidFormSubmitted) && workshopF.specialCompare.errors) ||
                                (workshopF.specialCompare.value != '' && workshopF.specialCompare.errors)
                              ">You must choose compare script</label>
                            </div>
                            <div class=" form-group">
                                <label for="output"> Compare script arguments </label>
                                <input id="output1" type="text" class="form-control"
                                    formControlName="specialCompareArgs">
                            </div>
                            <div class=" form-check mt-3">
                                <label class=" form-check-label">
                                    <input formControlName="combinedRunCompare" class=" form-check-input"
                                        type="checkbox" />
                                    <span class=" form-check-sign"> </span> Use run script as compare script.
                                </label>
                            </div>
                            <button type="submit" class="btn btn-info btn-sm mt-3">
                                Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>