<div class=" content">
  <div class=" row mt-5">
    <div class=" col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <h4 class="col-md-auto card-title">Executables</h4>
            <div class="col-md-auto ml-auto">
              <button class=" btn btn-info btn-fill" (click)="showModal()">
                Upload Executable
              </button>
            </div>
          </div>
          <div class="card-body">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
                                [fullScreen]="false"></ngx-spinner>
            <div class="dataTables_wrapper py-4">
              <table *ngIf="executables.length === 0" class="table">
                <nz-empty></nz-empty>
              </table>
              <table *ngIf="executables.length !== 0" class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>MD5</th>
                    <th>Size</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody style="min-height: 400px;">
                  <tr *ngFor='let item of executables'>
                    <td>{{item.executableId}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.md5Sum}}</td>
                    <td>{{item.size}}</td>
                    <td class="td-actions text-center">
                      <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                        title="" [routerLink]="[item.executableId]">
                        <i class="tim-icons icon-settings"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
    class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()"
    >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
          <div class="text-muted text-center ml-auto mr-auto">
            <h3 class="mb-0">Upload New Executable</h3>
          </div>
        </div>
        <div class="modal-body">
          <form [formGroup]="excutableForm">
            <div class="form-group" [ngClass]="{
              'has-danger':
                ((focusTouched1 || isValidFormSubmitted) && executeF.types.errors) ||
                (executeF.types.value !== '' && executeF.types.errors),
              'has-success': !executeF.types.errors
            }">
              <label for="change-subject">Types *</label>
              <nz-select formControlName="types" (focus)="focusTouched1 = true"
                nzShowSearch nzAllowClear nzPlaceHolder="Select type of Executable">
                <nz-option *ngFor="let subject of subjects" [nzLabel]="subject.itemName" [nzValue]="subject.itemName">
                </nz-option>
              </nz-select>
              <label class="error" *ngIf="
              ((focusTouched1 || isValidFormSubmitted) && executeF.types.errors) ||
              (executeF.types.value !== '' && executeF.types.errors)
            ">You must choose types</label>
            </div>
            <div class="form-group">
              <label for="inputDescript">Description</label>
              <input type="text" formControlName="description" class="form-control" id="inputDescript"
                aria-describedby="fullName" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="file">Choose File *</label>
              <div class="input-group">
                <input type="file" id="file" class="form-control" (change)="handleFileInput($event)"
                  formControlName="files" #fileInput hidden>
                <button class="btn btn-primary btn-simple mr-1" (click)="fileChoosen()"><i
                    class="tim-icons icon-cloud-upload-94"></i> Add executable</button>
                <p class="text-primary"> {{filesName}}</p>
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-info ml-auto mr-auto" (click)="onSubmit()">Submit</button>
              <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>