nz-select {
    width: 100%;
  }

.loading-icon {
    margin-right: 8px;
}

nz-upload {
    width: 100%;
    display: block;
}

.error {
    color: red !important;
}

.co {
    position: relative }
.co a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }