<div class=" content">
  <div class=" row mt-5">
    <div class=" col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-auto mr-auto">
              <h4 class="card-title">Class Detail</h4>
            </div>
          </div>
          <div class="row">
            <!-- <div class=" col-md-3">
                              <input
                              class=" form-control"
                              placeholder="Search by Roll Number, Username, Full Name,.."
                              type="text"
                              (keyup)="filterStudent($event.target.value)"
                            />
                        </div> -->
            <div class="col-md-auto ml-auto">
              <button class=" btn btn-info btn-fill" (click)="showAddStudent()">
                Add Student
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
            [fullScreen]="false"></ngx-spinner>
          <table *ngIf="listClassDetail.length === 0" class="table">
            <nz-empty></nz-empty>
          </table>
          <table class="table" *ngIf="listClassDetail.length !== 0">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Roll Number</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listClassDetail[6]; index as i">
                <td class="text-center">{{i+1}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.username}}</td>
                <td>{{item.rollNumber}}</td>
                <td class="td-actions ">
                  <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title=""
                    title="" tooltip="Remove Student" (click)="removeStudent(i)">
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isAddStudentShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownAddStudent="bs-modal" id="myModal2" role="dialog" tabindex="-1"
  (onHidden)="onHiddenAddStudent()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideAddStudent()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Add Student</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="addStudentForm" (ngSubmit)="onSubmitAddStudent()">
          <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched7 || isValidFormSubmitted) && addStudentF.rollNumber.errors) ||
              (addStudentF.rollNumber.value != '' && addStudentF.rollNumber.errors),
            'has-success': !addStudentF.rollNumber.errors
          }">
            <label for="">Roll Number *</label>
            <input type="text" formControlName="rollNumber" class="form-control" id="" aria-describedby="fullName"
              placeholder="Enter Roll Number" required>
            <label class="error" *ngIf="
              ((focusTouched7 || isValidFormSubmitted) && addStudentF.rollNumber.errors) ||
              (addStudentF.rollNumber.value != '' && addStudentF.rollNumber.errors)
            ">This field is required.</label>
          </div>
          <label for="">* Required fields</label>
          <div class="row">
            <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideAddStudent()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>