<div class=" content">
    <div class=" row mt-5">
      <div class=" col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <h4 class="col-md-auto card-title">Submissions</h4>
              <div class="col-md-auto ml-auto" > 
              </div>
            </div>
          </div>
          <div class="card-body">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
            [fullScreen]="false"></ngx-spinner>
            <div class="dataTables_wrapper py-4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="datatable_length">
                  </div>
                </div>
              </div>
              <table *ngIf="susmissions.length === 0" class="table">
                <nz-empty></nz-empty>
              </table>
              <table *ngIf="susmissions.length !== 0" class="table">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Time</th>
                    <th>Email</th>
                    <th>Score</th>
                    <th>Detail</th>
                  </tr>
                </thead>
                <tbody style="min-height: 400px;">
                  <tr *ngFor="let item of susmissions;index as i">
                    <td class="text-center">{{i+1}}</td>
                    <td>{{item.submitTime}}</td>
                    <td>{{item.user.username}}</td>
                    <td *ngIf="item.score == null">Pending</td>
                    <td *ngIf="item.score != null">{{item.score}}</td>
                    <td>
                      <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                      title="View Detail"tooltip="View Detail"
                      [routerLink]="[item.submissionId]" routerLinkActive="router-link-active">
                      <i class="tim-icons icon-settings"></i>
                    </button>
                  </td>
                  </tr>
                </tbody>
                <nav *ngIf="isShowPagging" aria-label="Page navigation example">
                    <pagination class="justify-content-end" [boundaryLinks]="true" [(ngModel)]="currentPage"
                      [totalItems]="totalItems" [itemsPerPage]="perPage" (pageChanged)="pageChanged($event)"
                      [maxSize]="maxSize">
                    </pagination>
                </nav>
              </table>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>