<div class=" content">
  <div class=" row mt-5">
    <div class=" col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-auto mr-auto">
              <h4 class="card-title">Teachers</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-auto searchBar">
              <nz-select [(ngModel)]="selectedProvinceSemester" (ngModelChange)="get_data($event)">
                <nz-option *ngFor="let p of getSemesterCheck" [nzValue]="p" [nzLabel]="p"></nz-option>
              </nz-select>
            </div>
            <div class="col-md-auto searchBar">
              <nz-select [(ngModel)]="selectedProvinceStatus" (ngModelChange)="getStatusData($event)">
                <nz-option *ngFor="let p of getStatus" [nzValue]="p" [nzLabel]="p"></nz-option>
              </nz-select>
            </div>
            <div class=" col-md-5 searchBar">
              <div class=" form-group">
                <input class=" form-control" placeholder="Enter Username Teacher" type="text" #searchBox
                  (input)="searchTerm(searchBox.value)" />
              </div>
            </div>
            <div class="col-md-auto ml-auto">
              <button class=" btn btn-info btn-fill" (click)="showModal()">
                Add Teacher
              </button>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
            <table *ngIf="listTeacherOnSearch.length === 0" class="table">
              <nz-empty></nz-empty>
            </table>
          <table class="table" *ngIf="listTeacherOnSearch.length !== 0">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listTeacherOnSearch;index as i">
                <td *ngIf="page==1" class="text-center">{{i+1}}</td>
                <td *ngIf="page>1" class="text-center">{{((page-1)*10)+(i+1)}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                <td *ngIf="item.enabled === 1">Active</td>
                <td *ngIf="item.enabled !== 1">DeActive</td>
                <td class="td-actions text-center">

                  <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                    title="" tooltip="Edit Teacher" (click)="showModalEdit(i)">
                    <i class="tim-icons icon-settings"></i>
                  </button>
                  &nbsp;
                  <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title=""
                    title="" (click)="deActive(i)" tooltip="Deactivate Teacher" [hidden]="item.enabled !== 1">
                    <i class="tim-icons icon-minimal-down"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                    title="" (click)="Active(i)" tooltip="Activate Teacher" [hidden]="item.enabled === 1">
                    <i class="tim-icons icon-minimal-up"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="isPageShow">
            <pagination class=" justify-content-end" [(ngModel)]="page" [totalItems]="totalSize" [maxSize]="maxSize" [boundaryLinks]="true"
              (click)="pageChanged($event)"></pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Add Teacher</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched2 || isValidFormSubmitted) && teacherF.username.errors) ||
            (teacherF.username.value != '' && teacherF.username.errors),
          'has-success': !teacherF.username.errors
        }">
            <label for="">Username *</label>
            <input type="text" formControlName="username" class="form-control" id="" placeholder="Enter Username"
              (keyup)="onKey($event)">
            <label class="error" *ngIf="
            ((focusTouched2 || isValidFormSubmitted) && teacherF.username.errors) ||
            (teacherF.username.value != '' && teacherF.username.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched || isValidFormSubmitted) && teacherF.email.errors) ||
            (teacherF.email.value != '' && teacherF.email.errors),
          'has-success': !teacherF.email.errors
        }">
            <label for="">Email *</label>
            <input type="email" formControlName="email" class="form-control" id="" placeholder="Enter Email" required>
            <label class="error" *ngIf="
            ((focusTouched || isValidFormSubmitted) && teacherF.email.errors) ||
            (teacherF.email.value != '' && teacherF.email.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched1 || isValidFormSubmitted) && teacherF.fullName.errors) ||
            (teacherF.fullName.value != '' && teacherF.fullName.errors),
          'has-success': !teacherF.fullName.errors
        }">
            <label for="">Full Name *</label>
            <input type="text" formControlName="fullName" class="form-control" id="" placeholder="Enter Full Name"
              required>
            <label class="error" *ngIf="
            ((focusTouched1 || isValidFormSubmitted) && teacherF.fullName.errors) ||
            (teacherF.fullName.value != '' && teacherF.fullName.errors)
          ">This field is required.</label>
          </div>
          <label for="">* Required fields</label>
          <div class="row">
            <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isModalShownEdit" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownModalEdit="bs-modal" id="myModal2" role="dialog" tabindex="-1"
  (onHidden)="onHiddenEdit()" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModalEdit()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Edit Teacher</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="teacherEditForm" (ngSubmit)="onSubmitEdit()">
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched4 || isValidFormSubmitted) && teacherEditF.username.errors) ||
            (teacherEditF.username.value != '' && teacherEditF.username.errors),
          'has-success': !teacherEditF.username.errors
        }">
            <label for="">Username *</label>
            <input type="text" formControlName="username" class="form-control" id="" placeholder="Enter Username"
              (keyup)="onKey($event)">
            <label class="error" *ngIf="
            ((focusTouched4 || isValidFormSubmitted) && teacherEditF.username.errors) ||
            (teacherEditF.username.value != '' && teacherEditF.username.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched5 || isValidFormSubmitted) && teacherEditF.email.errors) ||
            (teacherEditF.email.value != '' && teacherEditF.email.errors),
          'has-success': !teacherEditF.email.errors
        }">
            <label for="">Email *</label>
            <input type="email" formControlName="email" class="form-control" id="" placeholder="Enter Email" required>
            <label class="error" *ngIf="
            ((focusTouched5 || isValidFormSubmitted) && teacherEditF.email.errors) ||
            (teacherEditF.email.value != '' && teacherEditF.email.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched6 || isValidFormSubmitted) && teacherEditF.fullName.errors) ||
            (teacherEditF.fullName.value != '' && teacherEditF.fullName.errors),
          'has-success': !teacherEditF.fullName.errors
        }">
            <label for="">Full Name *</label>
            <input type="text" formControlName="fullName" class="form-control" id="" placeholder="Enter Full Name"
              required>
            <label class="error" *ngIf="
            ((focusTouched6 || isValidFormSubmitted) && teacherEditF.fullName.errors) ||
            (teacherEditF.fullName.value != '' && teacherEditF.fullName.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched7 || isValidFormSubmitted) && teacherEditF.status.errors) ||
            (teacherEditF.status.value != '' && teacherEditF.status.errors),
          'has-success': !teacherEditF.status.errors
        }">
            <label for="">Status *</label>
            <input type="text" formControlName="status" class="form-control" id="" placeholder="Status" required
              readonly>
            <label class="error" *ngIf="
            ((focusTouched7 || isValidFormSubmitted) && teacherEditF.status.errors) ||
            (teacherEditF.status.value != '' && teacherEditF.status.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched8 || isValidFormSubmitted) && teacherEditF.classes.errors) ||
            (teacherEditF.classes.value != '' && teacherEditF.classes.errors),
          'has-success': !teacherEditF.classes.errors
        }">
            <label for="">Classes *</label>
            <textarea class="form-control" formControlName="classes" id="" rows="3" readonly></textarea>
            <label class="error" *ngIf="
            ((focusTouched8 || isValidFormSubmitted) && teacherEditF.classes.errors) ||
            (teacherEditF.classes.value != '' && teacherEditF.classes.errors)
          ">This field is required.</label>
          </div>
          <label for="">* Required fields</label>
          <div class="row">
            <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModalEdit()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>