<ng-template #loading>Loading workshop detail...</ng-template>
<div class=" content">
    <div class=" row mt-5">
        <div class=" col-md-12">
              <div class=" card">
                <div class=" card-header">
                  <h4 class=" card-title">Workshop Detail</h4>
                </div>
                <div class=" card-body">
                    <div class="dataTables_wrapper py-4" style="min-height: 400px;">
                        <table class=" table" id="simple-table">
                          <tbody *ngIf="!workshop" style="min-height: 400px;">
                            <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
                                [fullScreen]="false"></ngx-spinner>
                          </tbody>
                          <tbody *ngIf="workshop">
                            <tr>
                              <th>WorkshopID: </th>
                              <td>{{workshop.workshopId}}</td>
                            </tr>
                            <tr>
                                <th>Name: </th>
                                <td>{{workshop.name}}</td>
                            </tr>
                            <tr>
                              <th>Project Code: </th>
                              <td>{{workshop.subjectCode}}</td>
                            </tr>
                            <tr>
                              <th>Tags:</th>
                              <td>
                                <nz-tag *ngFor="let item of workshop.categories" [nzColor]="'#108ee9'">{{item}}</nz-tag>
                              </td>
                            </tr>
                            <tr>
                                <th>TestCases: </th>
                                <td>{{workshop.testCases.length}} <a [routerLink]="['./testcases']">details/edit</a></td>
                            </tr>
                            <tr>
                                <th>TimeLitmit: </th>
                                <td>{{workshop.timeLimit}}</td>
                            </tr>
                            <tr>
                                <th>MemoriesLimit: </th>
                                <td>{{workshop.memoriesLimit}}</td>
                            </tr>
                            <tr>
                                <th>Run script: </th>
                                <td><a [routerLink]="['/ad', 'executable', workshop.specialRun]">{{workshop.specialRun}}</a></td>
                            </tr>
                            <tr>
                                <th>Compare script: </th>
                                <td><a [routerLink]="['/ad', 'executable', workshop.specialCompare]">{{workshop.specialCompare}}</a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
                <div class=" card-footer">
                  <button class=" btn btn-info" [routerLink]="['edit']">
                    <i class="tim-icons icon-pencil"></i>
                    Edit
                  </button>
                </div>
              </div>
          </div>
    </div>
</div>
