<footer class=" footer">
    <div class=" container-fluid">
      <ul class=" nav">
        <li class=" nav-item">
          <a
            class=" nav-link"
            href="https://www.creative-tim.com?ref=bdpa-footer"
          >
            Creative Tim
          </a>
        </li>
        <li class=" nav-item">
          <a
            class=" nav-link"
            href="https://www.creative-tim.com/about-us?ref=bdpa-footer"
          >
            About Us
          </a>
        </li>
        <li class=" nav-item">
          <a
            class=" nav-link"
            href="http://blog.creative-tim.com?ref=bdpa-footer"
          >
            Blog
          </a>
        </li>
      </ul>
      <div class=" copyright">
        &copy; {{ test | date: "yyyy" }} made with
        <i class=" tim-icons icon-heart-2"> </i> by
        <a href="https://www.creative-tim.com?ref=bdpa-footer" target="_blank">
          Creative Tim
        </a>
        for a better web.
      </div>
    </div>
  </footer>
  