<div class=" content">
  <div class=" row mt-5">
    <div class=" col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-auto ml-auto">
              <button class=" btn btn-info btn-fill" (click)="showModal()">
                Add Testcase
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
                  [fullScreen]="false"></ngx-spinner>
          <div class="dataTables_wrapper py-4">
            <table *ngIf="testCases.length === 0" class=" table">
              <nz-empty></nz-empty>
            </table>
            <table *ngIf="testCases.length !== 0" class="table">
              <thead>
                <tr>
                  <th class="text-center"></th>
                  <th class="text-center">#</th>
                  <th>Sample</th>
                  <th>Download</th>
                  <th>Md5</th>
                  <th>Upload new</th>
                  <th>Point</th>
                </tr>
              </thead>
              <tbody style="min-height: 400px;">
                  <ng-container [@bounceIn]="bounceIn" id="div" *ngFor='let item of testCases; let i = index'>
                    <tr>
                      <td class="text-center" rowspan="2">
                        <button class="btn btn-info btn-icon btn-sm " (click)="remove(item.testcaseid, i)">
                          <i class="tim-icons icon-trash-simple"></i>
                        </button>
                      </td>
                      <td class="text-center" rowspan="2">
                        <button id="btn-up-{{i}}" class="btn btn-info btn-icon btn-sm" (click)="up(item.testcaseid, i)">
                          <i class="tim-icons icon-minimal-up"></i>
                        </button>
                        <br>
                        {{i + 1}}
                        <br>
                        <button id="btn-down-{{i}}" class="btn btn-info btn-icon btn-sm"
                          (click)="down(item.testcaseid, i)">
                          <i class="tim-icons icon-minimal-down"></i>
                        </button>
                      </td>
                      <td rowspan="2">
                        <div class=" form-check">
                          <label class=" form-check-label">
                            <input [(ngModel)]="item.sample" class=" form-check-input" type="checkbox" />
                            <span class=" form-check-sign"> </span>
                          </label>
                        </div>
                      </td>
                      <td>
                        <a [href]="item.input | safe: 'url'"
                          download="{{ workshopId }}.w{{ i+1 }}.in">{{ workshopId }}.w{{ i+1 }}.in</a>
                      </td>
                      <td>
                        {{item.md5SumInput}}
                      </td>
                      <td>
                        <div class="custom-file">
                          <label class="custom-file-label" id="update_input{{i}}" for="customFile">new input
                            file</label>
                          <input class="custom-file-input" type="file" id="custom-input-file{{i}}" name="filename"
                            (change)="handleFileInput($event, i)" #fileInput>
                        </div>
                      </td>
                      <td>

                          <input id="textarea{{i}}" class=" form-control" type="number" name="name"
                            [(ngModel)]="item.point" (keydown)="handleCharacterE($event)" />

                        <!-- <span id="description{{i}}">{{item.point}}</span>
                        <input [(ngModel)]="item.point" style="display: none;" class="form-control"
                          id="textarea{{i}}" type="number">
                        <button class="btn btn-info btn-sm float-right" id="btn-click{{i}}"
                          (click)="handleEdit(i)">Edit</button> -->
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a [href]="item.output | safe: 'url'"
                          download="{{ workshopId }}.w{{ i+1 }}.out">{{ workshopId }}.w{{ i+1 }}.out</a>
                      </td>
                      <td>
                        {{item.md5SumOutput}}
                      </td>
                      <td>
                        <div class="custom-file">
                          <label class="custom-file-label" id="update_output{{i}}" for="customFile">new output
                            file</label>
                          <input class="custom-file-input" type="file" id="custom-output-file{{i}}" name="filename"
                            (change)="handleFileInput2($event, i)" #fileInput>
                        </div>
                      </td>
                      <!-- <td>
                        <div class="custom-file">
                          <label class="custom-file-label" id="update_image{{i}}" for="customFile">add an image</label>
                          <input class="custom-file-input" type="file" id="custom-output-file{{i}}" name="filename"
                            (change)="handleFileInput3($event, i)" #fileInput>
                        </div>
                      </td> -->
                    </tr>
                  </ng-container>
                <!-- <template #noResults>No results</template> -->
              </tbody>
            </table>
            <button class="btn btn-info btn-sm" (click)="onSubmit()">
              Update
            </button>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h4 class="card-title mx-auto">Upload testcase</h4>
              <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzMultiple]="true">
                <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
              </nz-upload>
              <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()"
                [disabled]="fileList.length == 0" style="margin-top: 16px">
                {{ uploading ? 'Uploading' : 'Start Upload' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalShown" (onHidden)="onHidden()" [config]="{ show: true }" aria-hidden="true"
  aria-labelledby="myModalLabel" bsModal class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog"
  tabindex="-1" [ngClass]="{
    'modal-black': isDarkmode
  }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Create new testcase</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="testcaseForm" (ngSubmit)="onSubmitTc()">
          <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched || isValidFormSubmitted) && testCaseF.input.errors) ||
              (testCaseF.input.value !== '' && testCaseF.input.errors),
            'has-success': !testCaseF.input.errors
          }">
          <label for="new-input-file">Input *</label>
            <div class="custom-file">
              <label class="custom-file-label" style="color: rgba(0,0,0,.65) !important;" id="new_input"
                for="customFile">Input testdata</label>
              <input (focus)="focusTouched = true" class="custom-file-input" type="file" id="new-input-file"
                name="filename" (change)="handleFileInput4($event)" formControlName="input" #fileInput>
            </div>
            <label class="error" *ngIf="
                                ((focusTouched || isValidFormSubmitted) && testCaseF.input.errors) ||
                                (testCaseF.input.value != '' && testCaseF.input.errors)
                              ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched1 || isValidFormSubmitted) && testCaseF.output.errors) ||
              (testCaseF.output.value !== '' && testCaseF.output.errors),
            'has-success': !testCaseF.output.errors
          }">
          <label for="new-output-file">Output *</label>
            <div class="custom-file">
              <label class="custom-file-label" style="color: rgba(0,0,0,.65) !important;" id="new_output"
                for="customFile">Output testdata</label>
              <input (focus)="focusTouched1 = true" class="custom-file-input" type="file" id="new-output-file"
                name="filename" (change)="handleFileInput5($event)" formControlName="output" #fileInput>
            </div>
            <label class="error" *ngIf="
            ((focusTouched1 || isValidFormSubmitted) && testCaseF.output.errors) ||
            (testCaseF.output.value != '' && testCaseF.output.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
            'has-danger': ((focusTouched2 || isValidFormSubmitted) && testCaseF.point.errors) ||
            (testCaseF.point.value !== '' && testCaseF.point.errors),
            'has-success': !testCaseF.point.errors
          }">
            <label for="exampleFormControlTextarea1">Point *</label>
            <input type="number" (focus)="focusTouched2 = true" class="form-control" id="exampleFormControlTextarea1"
              name="point" (keydown)="handleCharacterE($event)" formControlName="point" />
            <label class="error" *ngIf="
                                ((focusTouched2 || isValidFormSubmitted) && testCaseF.point.errors) ||
                                (testCaseF.point.value != '' && testCaseF.point.errors)
                              ">This field is required.</label>
          </div>
          <div class=" form-check mt-3">
            <label class=" form-check-label">
              <input class=" form-check-input" type="checkbox" formControlName="sample" name="sample" />
              <span class=" form-check-sign"> </span> Sample testcase
            </label>
          </div>
          <!-- <div class=" form-group">
            <div class="custom-file">
              <label class="custom-file-label" style="color: rgba(0,0,0,.65) !important;" id="new_image"
                for="customFile">image</label>
              <input class="custom-file-input" type="file" id="new-image" name="filename"
                (change)="handleFileInput6($event)" #fileInput>
            </div>
          </div> -->
          <div class="row">
            <button type="submit" class="btn btn-info btn-sm ml-auto mr-auto">Submit</button>
            <button type="button" class="btn btn-danger ntn-sm ml-auto mr-auto" (click)="hideModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>