<div class=" content">
  <div class=" row mt-5">
    <div class=" col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-auto mr-auto">
              <h4 class="card-title">Students</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-auto searchBar">
              <nz-select [(ngModel)]="selectedProvinceSemester" (ngModelChange)="get_data($event)">
                <nz-option *ngFor="let p of getSemesterCheck" [nzValue]="p" [nzLabel]="p"></nz-option>
              </nz-select>
            </div>
            <div class="col-md-auto searchBar">
              <nz-select [(ngModel)]="selectedProvinceStatus" (ngModelChange)="getStatusData($event)">
                <nz-option *ngFor="let p of getStatus" [nzValue]="p" [nzLabel]="p"></nz-option>
              </nz-select>
            </div>
            <div class=" col-md-5 searchBar">
              <input class=" form-control" placeholder="Search by Roll Number, Username, Full Name,.." type="text"
                #searchBox (input)="searchTerm(searchBox.value)" />
            </div>
            <div class="col-md-auto ml-auto">
              <button class=" btn btn-info btn-fill" (click)="showModal()">
                Add Student
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
            <table *ngIf="listStudentOnSearch.length === 0" class="table">
              <nz-empty></nz-empty>
            </table>
          <table class="table" *ngIf="listStudentOnSearch.length !== 0">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Roll Number</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listStudentOnSearch;index as i">
                <td *ngIf="page==1" class="text-center">{{i+1}}</td>
                <td *ngIf="page>1" class="text-center">{{((page-1)*10)+(i+1)}}</td>
                <td>{{item.rollNumber}}</td>
                <td>{{item.username}}</td>
                <td>{{item.fullName}}</td>
                <td *ngIf="item.enabled === 1">Active</td>
                <td *ngIf="item.enabled !== 1">DeActive</td>
                <td class="td-actions text-center">
                  <!-- <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                    title=""tooltip="View Detail" (click)="showDetail(i)">
                    <i class="tim-icons icon-zoom-split"></i>
                  </button>
                  &nbsp; -->
                  <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                    title="" tooltip="Edit Student" (click)="showModalEdit(i)">
                    <i class="tim-icons icon-settings"></i>
                  </button>
                  &nbsp;
                  <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title=""
                    title="" (click)="deActive(i)" tooltip="Deactivate Student" [hidden]="item.enabled !== 1">
                    <i class="tim-icons icon-minimal-down"></i>
                  </button>
                  <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                    title="" (click)="Active(i)" tooltip="Activate Student" [hidden]="item.enabled === 1">
                    <i class="tim-icons icon-minimal-up"></i>
                  </button>
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="isPageShow">
            <pagination class=" justify-content-end" [(ngModel)]="page" [totalItems]="totalSize" [maxSize]="maxSize" [boundaryLinks]="true"
              (click)="pageChanged($event)">
            </pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Add Student</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched3 || isValidFormSubmitted) && studentF.userName.errors) ||
            (studentF.userName.value != '' && studentF.userName.errors),
          'has-success': !studentF.userName.errors
        }">
            <label for="">Username *</label>
            <input type="text" formControlName="userName" class="form-control" id="" aria-describedby="fullName"
              placeholder="Enter Username" required (keyup)="onKey($event)">
            <label class="error" *ngIf="
            ((focusTouched3 || isValidFormSubmitted) && studentF.userName.errors) ||
            (studentF.userName.value != '' && studentF.userName.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched || isValidFormSubmitted) && studentF.email.errors) ||
            (studentF.email.value != '' && studentF.email.errors),
          'has-success': !studentF.email.errors
        }">
            <label for="">Email *</label>
            <input type="email" formControlName="email" class="form-control" id="" aria-describedby="fullName"
              placeholder="Enter Email" required>
            <label class="error" *ngIf="
            ((focusTouched || isValidFormSubmitted) && studentF.email.errors) ||
            (studentF.email.value != '' && studentF.email.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched1 || isValidFormSubmitted) && studentF.fullName.errors) ||
            (studentF.fullName.value != '' && studentF.fullName.errors),
          'has-success': !studentF.fullName.errors
        }">
            <label for="">Full Name *</label>
            <input type="text" formControlName="fullName" class="form-control" id="" aria-describedby="fullName"
              placeholder="Enter Full Name" required>
            <label class="error" *ngIf="
            ((focusTouched1 || isValidFormSubmitted) && studentF.fullName.errors) ||
            (studentF.fullName.value != '' && studentF.fullName.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched2 || isValidFormSubmitted) && studentF.rollNumber.errors) ||
            (studentF.rollNumber.value != '' && studentF.rollNumber.errors),
          'has-success': !studentF.rollNumber.errors
        }">
            <label for="">Roll Number *</label>
            <input type="text" formControlName="rollNumber" class="form-control" id="" aria-describedby="fullName"
              placeholder="Enter Roll Number" required>
            <label class="error" *ngIf="
            ((focusTouched2 || isValidFormSubmitted) && studentF.rollNumber.errors) ||
            (studentF.rollNumber.value != '' && studentF.rollNumber.errors)
          ">This field is required.</label>
          </div>

          <label for="">* Required fields</label>
          <div class="row">
            <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isModalShownEdit" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownModalEdit="bs-modal" id="myModal2" role="dialog" tabindex="-1"
  (onHidden)="onHiddenEdit()" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModalEdit()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Edit Student</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentEditForm" (ngSubmit)="onSubmitEdit()">
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched5 || isValidFormSubmitted) && studentEditF.userName.errors) ||
            (studentEditF.userName.value != '' && studentEditF.userName.errors),
          'has-success': !studentEditF.userName.errors
        }">
            <label for="">Username *</label>
            <input type="text" formControlName="userName" class="form-control" id="" aria-describedby="fullName"
              placeholder="Enter Username" required (keyup)="onKey($event)">
            <label class="error" *ngIf="
            ((focusTouched5 || isValidFormSubmitted) && studentEditF.userName.errors) ||
            (studentEditF.userName.value != '' && studentEditF.userName.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched6 || isValidFormSubmitted) && studentEditF.email.errors) ||
            (studentEditF.email.value != '' && studentEditF.email.errors),
          'has-success': !studentEditF.email.errors
        }">
            <label for="">Email *</label>
            <input type="email" formControlName="email" class="form-control" id="" aria-describedby="fullName"
              placeholder="Enter Email" required>
            <label class="error" *ngIf="
            ((focusTouched6 || isValidFormSubmitted) && studentEditF.email.errors) ||
            (studentEditF.email.value != '' && studentEditF.email.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched7 || isValidFormSubmitted) && studentEditF.fullName.errors) ||
            (studentEditF.fullName.value != '' && studentEditF.fullName.errors),
          'has-success': !studentEditF.fullName.errors
        }">
            <label for="">Full Name *</label>
            <input type="text" formControlName="fullName" class="form-control" id="" aria-describedby="fullName"
              placeholder="Enter Full Name" required>
            <label class="error" *ngIf="
            ((focusTouched7 || isValidFormSubmitted) && studentEditF.fullName.errors) ||
            (studentEditF.fullName.value != '' && studentEditF.fullName.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched8 || isValidFormSubmitted) && studentEditF.rollNumber.errors) ||
            (studentEditF.rollNumber.value != '' && studentEditF.rollNumber.errors),
          'has-success': !studentEditF.rollNumber.errors
        }">
            <label for="">Roll Number *</label>
            <input type="text" formControlName="rollNumber" class="form-control" id="" aria-describedby="fullName"
              placeholder="Enter Roll Number" required>
            <label class="error" *ngIf="
            ((focusTouched8 || isValidFormSubmitted) && studentEditF.rollNumber.errors) ||
            (studentEditF.rollNumber.value != '' && studentEditF.rollNumber.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
          'has-danger':
            ((focusTouched9 || isValidFormSubmitted) && studentEditF.status.errors) ||
            (studentEditF.status.value != '' && studentEditF.status.errors),
          'has-success': !studentEditF.status.errors
        }">
            <label for="">Status *</label>
            <input type="text" formControlName="status" class="form-control" id="" aria-describedby="fullName"
              placeholder="Status" readonly required>
            <label class="error" *ngIf="
            ((focusTouched9 || isValidFormSubmitted) && studentEditF.status.errors) ||
            (studentEditF.status.value != '' && studentEditF.status.errors)
          ">This field is required.</label>
          </div>
          <div class="form-group">
            <label for="">Classes *</label>
            <textarea type="text" formControlName="classes" class="form-control" id="" aria-describedby="fullName"
              placeholder="" readonly></textarea>

          </div>
          <label for="">* Required fields</label>
          <div class="row">
            <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModalEdit()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>