<div class=" content">
    <div class=" row mt-5">
        <div class=" col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-auto mr-auto">
                          <h4 class="card-title">Workshops</h4>
                        </div>
                      </div>
                </div>
                <div class="card-body">
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
                    <div class="dataTables_wrapper py-4">
                        <table *ngIf="getWorkshop.length === 0" class="table">
                            <nz-empty></nz-empty>
                          </table>
                        <table class="table" *ngIf="getWorkshop.length !== 0">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Workshop</th>
                                    <th>Time Limit</th>
                                    <th>Memory Limit</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of getWorkshop;index as i">
                                    <td class="text-center">{{i+1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.timeLimit}}s</td>
                                    <td>{{item.memoriesLimit}}kb</td>
                                    <td class="text-center">
                                        <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm "
                                            data-original-title="" title="" tooltip="See Detail "
                                            (click)="showPDF(item.content)">
                                            <i class="tim-icons icon-zoom-split"></i>
                                        </button>
                                        &nbsp;
                                        <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm "
                                            data-original-title="" title="" tooltip="Submission "
                                            [routerLink]="['./submission',item.workshopId]"
                                            routerLinkActive="router-link-active">
                                            <i class="tim-icons icon-simple-add"></i>
                                        </button>
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav *ngIf="isPageShow">
                            <pagination class=" justify-content-end" [(ngModel)]="page" [totalItems]="totalSize" [maxSize]="maxSize" [boundaryLinks]="true"
                                (click)="pageChanged($event)">
                            </pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>