<ng-template #loading>Loading executable detail...</ng-template>
<div class=" content">
    <div class=" row mt-5">
        <div class=" col-md-12">
              <div class=" card">
                <div class=" card-header">
                  <h4 class=" card-title">Executable Detail</h4>
                </div>
                <div class="card-body" *ngIf="!executable">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
                                [fullScreen]="false"></ngx-spinner>
                </div>
                <div class=" card-body" *ngIf="executable">
                    <div class="dataTables_wrapper py-4">
                        <table class=" table" id="simple-table">
                          <tbody>
                            <tr>
                              <th>ExecutableID: </th>
                              <td>{{executable.executableId}}</td>
                            </tr>
                            <tr>
                                <th>Description: </th>
                                <td>{{executable.description}}</td>
                            </tr>
                            <tr>
                                <th>Md5: </th>
                                <td>{{executable.md5Sum}}</td>
                            </tr>
                            <tr>
                                <th>Type: </th>
                                <td>{{executable.type}}</td>
                            </tr>
                            <tr>
                                <th>Size: </th>
                                <td>{{executable.size}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                </div>
                <div class=" card-footer">
                  <button class=" btn btn-info" (click)="download()">
                    <i class="tim-icons icon-cloud-download-93"></i>
                    Download
                  </button>
                  <button class=" btn btn-info" (click)="showModal(executable)">
                    <i class="tim-icons icon-cloud-upload-94"></i>
                    Edit
                  </button>
                </div>
                <div
                  *ngIf="isModalShown"
                  [config]="{ show: true }"
                  aria-hidden="true"
                  aria-labelledby="myModalLabel"
                  bsModal
                  class="modal fade"
                  #autoShownModal="bs-modal"
                  id="myModal2"
                  role="dialog"
                  tabindex="-1"
                  (onHidden)="onHidden()"
                  >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header justify-content-center">
                        <button
                          aria-hidden="true"
                          class="close"
                          data-dismiss="modal"
                          (click)="hideModal()"
                          type="button"
                        >
                          <i class="tim-icons icon-simple-remove"> </i>
                        </button>
                        <div class="text-muted text-center ml-auto mr-auto">
                          <h3 class="mb-0">Edit Executable</h3>
                        </div>
                      </div>
                      <div class="modal-body">
                        <form [formGroup]="excutableForm">
                          <div class="form-group">
                            <label for="change-subject">Types *</label>
                            <nz-select formControlName="types" (focus)="focusTouched1 = true" [(ngModel)]="selectedSubject"
                            nzShowSearch nzAllowClear nzPlaceHolder="Select type of Executable">
                            <nz-option *ngFor="let subject of subjects" [nzLabel]="subject.itemName" [nzValue]="subject.itemName">
                            </nz-option>
                          </nz-select>
                          </div>
                          <div class="form-group">
                            <label for="inputDescript">Description</label>
                            <input type="text" formControlName="description" class="form-control" id="inputDescript" aria-describedby="fullName" placeholder="Description">
                          </div>
                          <div class="form-group">
                            <label for="file">Choose File</label>
                            <div class="input-group">
                              <input type="file"
                                    id="file"
                                    class="form-control"
                                    (change)="handleFileInput($event)"
                                    formControlName="files"
                                    #fileInput
                                    hidden
                              >
                              <button class="btn btn-primary btn-simple mr-1" (click)="fileChoosen()"><i class="tim-icons icon-cloud-upload-94"></i> Add executable</button>
                              <p class="text-primary">  {{filesName}}</p>
                            </div>
                          </div>
                          <label for="">* Required fields</label>
                          <div class="row">
                            <button type="submit" class="btn btn-info ml-auto mr-auto" (click)="onSubmit(executable)">Submit</button>
                            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
                          </div>
                        </form>
                      </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
    </div>
</div>
