<div class=" content">
    <tabset class="nav-pills-info nav-pills-icons justify-content-center" type="pills">
        <tab id="workshop" (selectTab)="onSelect($event)">
            <ng-template tabHeading>
                <i class="tim-icons icon-book-bookmark"> </i> Workshop
            </ng-template>
            <div class=" row mt-5">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class=" card">
                        <div class=" card-body">
                          <h4 class="card-title">Workshops - {{subjectCode}} - {{classCode}}</h4>
                          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
                                [fullScreen]="false"></ngx-spinner>
                            <div class=" row">
                                <div class="col-md-auto ml-auto">
                                    <button style="padding: 7px 11px !important; margin: 0 !important;"
                                        class="btn btn-info btn-sm" (click)="showModal()">
                                        Add Workshop
                                    </button>
                                </div>
                            </div>
                            <table *ngIf="listClassWorkshop.length === 0" class=" table" id="simple-table">
                              <nz-empty></nz-empty>
                            </table>
                            <table *ngIf="listClassWorkshop.length !== 0" class=" table" id="simple-table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">WorkshopName</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody style="min-height: 400px;">
                                    <tr *ngFor="let workshop of listClassWorkshop; index as i">
                                  <td class="text-center">{{ i+1 }}</td>
                                  <td class="text-center">{{ workshop.name }}</td>
                                  <td class="text-center">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                                      title="View PDF Content" (click)="viewContent(i)" routerLinkActive="router-link-active"
                                      tooltip="View PDF Content">
                                      <i class="tim-icons icon-zoom-split"></i>
                                    </button>
                                    &nbsp;
                                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                                      title="View Submissions" [routerLink]="['submissions']" [queryParams]="{workshopId: workshop.workshopId}" routerLinkActive="router-link-active"
                                      tooltip="View Submissions">
                                      <i class="tim-icons icon-bullet-list-67"></i>
                                    </button>
                                    <!-- &nbsp;
                                    <button class="btn btn-info btn-icon btn-sm " (click)="remove(workshop.workshopId, i)">
                                      <i class="tim-icons icon-trash-simple"></i>
                                    </button> -->
                                  </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- <nav *ngIf="isShowPagging" aria-label="Page navigation example">
                              <pagination class="justify-content-end" [boundaryLinks]="true" [(ngModel)]="currentPage"
                                [totalItems]="totalItems" [itemsPerPage]="perPage" (pageChanged)="pageChanged($event)"
                                [maxSize]="maxSize">
                              </pagination>
                            </nav> -->
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab id="point" (selectTab)="onSelect($event)">
            <ng-template tabHeading>
                <i class="tim-icons icon-notes"> </i> Point
            </ng-template>
            <div class=" row mt-5">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class=" card">
                        <div class=" card-body">
                          <h4 class="card-title">Point - {{subjectCode}} - {{classCode}}</h4>
                          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
                                [fullScreen]="false"></ngx-spinner>
                          <div class=" row">
                            <div class="col-md-auto ml-auto">
                                <button style="padding: 7px 11px !important; margin: 0 !important;"
                                    class="btn btn-info btn-sm" (click)="exportToExcel()">
                                    Export to excel
                                </button>
                            </div>
                          </div>
                          <div class=" table-responsive">
                          <table *ngIf="workshopList.length === 0" class=" table">
                            <nz-empty></nz-empty>
                          </table>
                            <table *ngIf="workshopList.length !== 0" class=" table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Student Name</th>
                                        <th *ngFor="let item of workshopList" class="text-center">{{item}}</th>
                                    </tr>
                                </thead>
                                <tbody style="min-height: 400px;">
                                  <tr *ngFor="let student of students; index as i">
                                    <th>
                                      {{student.username}}
                                    </th>
                                      <td class="text-center" *ngFor="let item of workshopList">
                                        {{scores[item][i]}}
                                      </td>
                                   
                                  </tr>
                                    <!-- <tr *ngFor="let workshop of workshops">
                                  <td class="text-center">{{ workshop.workshopId }}</td>
                                  <td class="text-center">{{ workshop.name }}</td>
                                  <td class="text-center">
                                    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title=""
                                      title="" [routerLink]="[workshop.workshopId]" routerLinkActive="router-link-active"
                                      tooltip="See Detail Workshop">
                                      <i class="tim-icons icon-zoom-split"></i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title=""
                                      title="" [routerLink]="[workshop.workshopId]" routerLinkActive="router-link-active"
                                      tooltip="See Detail Workshop">
                                      <i class="tim-icons icon-cloud-upload-94"></i>
                                    </button>
                                  </td>
                                </tr> -->
                                </tbody>
                            </table>
                            <!-- <nav *ngIf="isShowPagging" aria-label="Page navigation example">
                              <pagination class="justify-content-end" [boundaryLinks]="true" [(ngModel)]="currentPage"
                                [totalItems]="totalItems" [itemsPerPage]="perPage" (pageChanged)="pageChanged($event)"
                                [maxSize]="maxSize">
                              </pagination>
                            </nav> -->
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>

<div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Add Worklshop To Class</h3>
        </div>
      </div>
      <div class="modal-body">
        <div class=" col-md-12">
          <div class="form-group">
            <label for="slcWorkshop">Choose workshop *</label>
            <nz-select id="slcWorkshop" [(ngModel)]="selectedWorkshop" nzShowSearch nzAllowClear
                nzPlaceHolder="Select a Workshop">
                <nz-option *ngFor="let workshop of workshops" [nzLabel]="workshop.name"
                    [nzValue]="workshop.workshopId"></nz-option>
            </nz-select>
          </div>
          <div class="form-group">
            <label for="slcWorkshop">Choose grade item *</label>
            <nz-select id="slcWorkshop" [(ngModel)]="selectedItem" nzShowSearch nzAllowClear
                nzPlaceHolder="Select a Grade">
                <nz-option *ngFor="let grade of gradeItems" [nzLabel]="grade.gradeItemName"
                    [nzValue]="grade.gradeItemId"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class=" modal-footer justify-content-center">
        <button type="button" (click)="addWorkshop()" class="btn btn-info ml-auto mr-auto">Add Workshop</button>
        <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>