<div class=" content">
  <div class=" row mt-5">
    <div class=" col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <h4 class="col-md-auto mr-auto card-title">Submissions</h4>
            <div class="col-md-auto ml-auto">
              <button class=" btn btn-info btn-fill" (click)="refresh()">
                Refresh
              </button>
              &nbsp;
              <button class=" btn btn-info btn-fill" (click)="showModal()">
                Submit
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                </div>
              </div>
            </div>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
                  [fullScreen]="false"></ngx-spinner>
            <table *ngIf="listSubmission.length === 0" class="table">
              <nz-empty></nz-empty>
            </table>
            <table *ngIf="listSubmission.length !== 0" class="table">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Time</th>
                  <th>Workshop</th>
                  <th>Subject</th>
                  <th>Score</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody style="min-height: 400px;">
                <tr *ngFor="let item of listSubmission;index as i">
                  <td class="text-center">{{i+1}}</td>
                  <td>{{item.submitTime}}</td>
                  <td>{{item.workshop.name}}</td>
                  <td>{{item.workshop.subject.subjectCode}}</td>
                  <td *ngIf="item.score == null">Pending</td>
                  <td *ngIf="item.score != null">{{item.score}}</td>
                  <td>
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                      title="" tooltip="View Detail" (click)="showModalEdit(i)">
                      <i class="tim-icons icon-settings"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav *ngIf="isPageShow">
              <pagination class=" justify-content-end" [(ngModel)]="page" [totalItems]="totalSize"
                (click)="pageChanged($event)">
              </pagination>
            </nav>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Submit</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="submitForm">
          <label for="">Choose File *</label>
          <div class="custom-file">
            <label class="custom-file-label" id="upload-ws" for="customFile" style="color:black">Upload submission</label>
            <input class="custom-file-input" type="file" id="custom-input-file" name="filename[]"
              formControlName="files" accept=".c,.java" multiple (change)="onFileChange($event)">
          </div>
          <div class="form-group">
            <label for="change-subject">Workshop *</label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Workshop" [(ngModel)]="selectedProvince"
              name="workshop" formControlName="workshop" (ngModelChange)="provinceChange($event)">
              <nz-option *ngFor="let p of getListWS" [nzValue]="p" [nzLabel]="p.name"></nz-option>
            </nz-select>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-info ml-auto mr-auto" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>