<div class=" content">
  <div class=" row mt-5">
    <div class="col-md-12 ml-auto mr-auto">
      <div class=" card">
        <div class=" card-body">
          <h4 class="card-title">Workshops</h4>
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate"
                                [fullScreen]="false"></ngx-spinner>
          <div class=" row">
            <div class=" col-md-3">
              <nz-select [(ngModel)]="subjectCode" nzShowSearch nzAllowClear nzPlaceHolder="Select a Subject"
                (ngModelChange)="changeSubject($event)">
                <nz-option nzLabel="All" nzValue=""></nz-option>
                <nz-option *ngFor="let subject of subjects$ | async" [nzLabel]="subject.subjectCode"
                  [nzValue]="subject.subjectCode"></nz-option>
              </nz-select>
            </div>
            <div class=" col-md-3">
              <nz-select *ngIf="isShow" [(ngModel)]="selectedCategory" nzShowSearch nzAllowClear
                nzPlaceHolder="Select a Category" (ngModelChange)="changeCategory($event)">
                <nz-option nzLabel="All" nzValue=""></nz-option>
                <nz-option *ngFor="let cate of tagCategories$ | async" [nzLabel]="cate.categoryName"
                  [nzValue]="cate.categoryName"></nz-option>
              </nz-select>
            </div>
          </div>
          <table *ngIf="workshops.length === 0" class=" table" id="simple-table">
            <nz-empty></nz-empty>
          </table>
          <table *ngIf="workshops.length !== 0" class=" table" id="simple-table">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">WorkshopName</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let workshop of workshops; index as i">
                <td *ngIf="currentPage === 1" class="text-center">{{ (i +  1) }}</td>
                <td *ngIf="currentPage > 1" class="text-center">{{((currentPage - 1) * 10) + (i + 1)}}</td>
                <td class="text-center">{{ workshop.name }}</td>
                <td class="text-center">
                  <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                    title="" [routerLink]="[workshop.workshopId]" routerLinkActive="router-link-active"
                    tooltip="See Detail Workshop">
                    <i class="tim-icons icon-zoom-split"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="isShowPagging" aria-label="Page navigation example">
            <pagination class="justify-content-end" [boundaryLinks]="true" [(ngModel)]="currentPage"
              [totalItems]="totalItems" [itemsPerPage]="perPage" (pageChanged)="pageChanged($event)"
              [maxSize]="maxSize">
            </pagination>
          </nav>
        </div>
        <div class="card-footer">
          <button class="btn btn-info btn icon btn-sm" [routerLink]="['add']">
            <i class="tim-icons icon-simple-add"></i> Add new workshop
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12 ml-auto mr-auto">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Upload workshop</h4>
        </div>
        <div class="card-body">
          <nz-upload [nzMultiple]="true" [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzAccept]="'.zip'">
            <button nz-button><i nz-icon nzType="upload"></i>Select File</button>
          </nz-upload>
          <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()"
            [disabled]="fileList.length == 0" style="margin-top: 16px">
            {{ uploading ? 'Uploading' : 'Start Upload' }}
          </button>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalShown" (onHidden)="onHidden()" [config]="{ show: true }" aria-hidden="true"
  aria-labelledby="myModalLabel" aria-hidden="true" aria-labelledby="myModalLabel" bsModal class=" modal fade"
  #noticeModal="bs-modal" id="noticeModal" role="dialog" tabindex="-1">
  <div class=" modal-dialog modal-notice">
    <div class=" modal-content">
      <div class=" modal-header">
        <button aria-hidden="true" class=" close" data-dismiss="modal" (click)="noticeModal.hide()" type="button">
          <i class=" tim-icons icon-simple-remove"> </i>
        </button>
        <h5 class=" modal-title" id="myModalLabel">
          Result:
        </h5>
      </div>
      <div class=" modal-body">
        <div class=" instruction">
          <div class=" row">
            <div class=" col-md-12">
              <strong style="color:green"> 1. Success ({{workshopResult.success === 0 ? 0 : workshopResult.success}})
              </strong>
              <p class=" description" *ngFor="let item of workshopResult.savedWorkshops">
                {{item.name}}
              </p>
            </div>
          </div>
        </div>
        <div class=" instruction">
          <div class=" row">
            <div class=" col-md-12">
              <strong style="color: red;"> 2. Error ({{workshopResult.fail === 0 ? 0 : workshopResult.fail }}) </strong>
              <p class="description" *ngFor="let item of workshopResult.errors">
                {{item}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class=" modal-footer justify-content-center">
        <button class=" btn btn-info btn-round" data-dismiss="modal" (click)="noticeModal.hide()" type="button">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
