.custom-file-input {
    color: black;
}

.custom-sp {
    position: absolute;
    top: -4px;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: calc(2.249999625rem + 2px);
    padding: 0.5rem 0.7rem;
    font-weight: 400;
    line-height: 1.428571;
}

nz-select {
    width: 100%;
  }