<div class=" content">
    <div class=" row mt-5">
        <div class=" col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-auto mr-auto">
                          <h4 class="card-title">Languages</h4>
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-md-auto ml-auto">
                            <button class=" btn btn-info btn-fill" (click)="showModal()">
                                Add Language
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff"
                                    type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
                    <div class="dataTables_wrapper py-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="datatable_length">
                                </div>
                            </div>
                        </div>
                        <table *ngIf="listLanguage.length === 0" class="table">
                            <nz-empty></nz-empty>
                          </table>
                        <table class="table" *ngIf="listLanguage.length !== 0">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Name</th>
                                    <th>Extensions</th>
                                </tr>
                            </thead>
                            <tbody style="min-height: 400px;">
                                <tr *ngFor="let item of listLanguage;index as i">
                                    <td *ngIf="page==1" class="text-center">{{i+1}}</td>
                                    <td *ngIf="page>1" class="text-center">{{((page-1)*10)+(i+1)}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.extensions.toString()}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <nav *ngIf="isPageShow">
                            <pagination class=" justify-content-end" [(ngModel)]="page" [totalItems]="totalSize" [maxSize]="maxSize" [boundaryLinks]="true"
                                (click)="pageChanged($event)">
                            </pagination>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
    class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
                    <i class="tim-icons icon-simple-remove"> </i>
                </button>
                <div class="text-muted text-center ml-auto mr-auto">
                    <h3 class="mb-0">Add Language</h3>
                </div>
            </div>
            <div class="modal-body">
                <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
                    <div class="form-group" [ngClass]="{
                        'has-danger': ((focusTouched || isValidFormSubmitted) && submitF.compileScript.errors) ||
                        (submitF.compileScript.invalid && submitF.compileScript.touched),
                        'has-success': !submitF.compileScript.errors
                      }">
                        <label for="change-subject">Compile Script ID *</label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Compile Script ID"
                            [(ngModel)]="selectedProvince" name="compileScript" formControlName="compileScript"
                            (ngModelChange)="provinceChange($event)">
                            <nz-option *ngFor="let p of listNoLanguage" [nzValue]="p" [nzLabel]="p"></nz-option>
                        </nz-select>
                        <label class="error" *ngIf="
                        ((focusTouched || isValidFormSubmitted) && submitF.compileScript.errors) ||
                                (submitF.compileScript.invalid && submitF.compileScript.touched)">This field is
                            required.</label>
                    </div>
                    <div class="form-group" [ngClass]="{
                        'has-danger':
                          ((focusTouched1 || isValidFormSubmitted) && submitF.extensions.errors) ||
                          (submitF.extensions.value != '' && submitF.extensions.errors),
                        'has-success': !submitF.extensions.errors
                      }">
                        <label for="">Extensions *</label>
                        <input type="text" formControlName="extensions" class="form-control"
                            placeholder="Enter Extensions" required>
                        <label class="error" *ngIf="
                          ((focusTouched1 || isValidFormSubmitted) && submitF.extensions.errors) ||
                          (submitF.extensions.value != '' && submitF.extensions.errors)
                        ">This field is required.</label>
                    </div>
                    <div class="form-group" [ngClass]="{
                            'has-danger':
                              ((focusTouched2 || isValidFormSubmitted) && submitF.languageId.errors) ||
                              (submitF.languageId.value != '' && submitF.languageId.errors),
                            'has-success': !submitF.languageId.errors
                          }">
                        <label for="">Language ID *</label>
                        <input type="text" formControlName="languageId" class="form-control"
                            placeholder="Enter Language ID" required>
                        <label class="error" *ngIf="
                              ((focusTouched2 || isValidFormSubmitted) && submitF.languageId.errors) ||
                              (submitF.languageId.value != '' && submitF.languageId.errors)
                            ">This field is required.</label>
                    </div>
                    <div class="form-group" [ngClass]="{
                                'has-danger':
                                  ((focusTouched3 || isValidFormSubmitted) && submitF.name.errors) ||
                                  (submitF.name.value != '' && submitF.name.errors),
                                'has-success': !submitF.name.errors
                              }">
                        <label for="">Language Name *</label>
                        <input type="text" formControlName="name" class="form-control"
                            placeholder="Enter Language Name" required>
                        <label class="error" *ngIf="
                        ((focusTouched3 || isValidFormSubmitted) && submitF.name.errors) ||
                        (submitF.name.value != '' && submitF.name.errors)
                                ">This field is required.</label>
                    </div>
                    <div class="form-group" [ngClass]="{
                        'has-danger': ((focusTouched4 || isValidFormSubmitted) && submitF.requireEntryPoint.errors) ||
                        (submitF.requireEntryPoint.invalid && submitF.requireEntryPoint.touched),
                        'has-success': !submitF.requireEntryPoint.errors
                      }">
                        <label for="change-subject">Require Entry Point *</label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Compile Script ID"
                            [(ngModel)]="selectedProvincePoint" name="requireEntryPoint" formControlName="requireEntryPoint"
                            (ngModelChange)="provinceChangePoint($event)">
                            <nz-option *ngFor="let p of listEntryPoint" [nzValue]="p" [nzLabel]="p"></nz-option>
                        </nz-select>
                        <label class="error" *ngIf="
                        ((focusTouched || isValidFormSubmitted) && submitF.requireEntryPoint.errors) ||
                                (submitF.requireEntryPoint.invalid && submitF.requireEntryPoint.touched)">This field is
                            required.</label>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
                        <button type="button" class="btn btn-danger ml-auto mr-auto"
                            (click)="hideModal()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>