
<div class=" content">
  <div class=" row" style="text-align: center;">
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category" style="font-size: 25px">RDS Free Storage</h5>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRDSFree"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category" style="font-size: 25px  ">RDS CPU Utilization</h5>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRDSCPU"> </canvas></div>
        </div>
      </div>
    </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col-md-6 ml-auto mr-auto">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category" style="font-size: 25px">EC2 CPU Utilization</h5>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="chartLineEC2CPU"> </canvas></div>
          </div>
        </div>
      </div>
    </div>
</div>
              