#my-signin2 {
  width: 100%;
}

#my-signin2 > div {
  margin: 0 auto !important;
}

.back{
  background-image: url("src/images/back-ground1.jpg");
  position: relative;
  height: 100%;
  
  filter: url('#blur');
  filter: blur(1px);
  border: 1px solid red;
}
.background-image {
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-origin: initial;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url("src/images/back-ground1.jpg");
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  
}