<div class="background-image"></div>
<div class="full-page login-page">
  <div class=" content">
    <div class=" container">
      <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
        <form class=" form" #f='ngForm'>
          <div class=" card card-login card-white">
            <div class=" card-header">
              <img alt="" src="assets/img/card-warning.png" />
              <h1 class=" card-title">Log in</h1>
            </div>
            <div class=" card-body">
              <img alt="" src="assets/img/logo.png" />
            </div>
            <div class="card-footer">
              <div id="my-signin2" class="zoom" data-onsuccess="onSignIn" style="height:37.8px;width:auto;"></div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true"><p style="color: white" > Loading... </p></ngx-spinner>
