<div class=" content">
  <div class=" row mt-5">
    <div class=" col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-auto mr-auto">
              <h4 class="card-title">Semesters</h4>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-auto searchBar">
              <nz-select [(ngModel)]="selectedProvince" (ngModelChange)="getDataActivated($event)">
                <nz-option *ngFor="let p of activated" [nzValue]="p" [nzLabel]="p"></nz-option>
              </nz-select>
            </div>
            <div class="col-md-5 searchBar">
              <input class=" form-control" placeholder="Search by Semester" type="text" #searchBox
                (input)="searchTerm(searchBox.value)" />
            </div>
            <div class=" col-md-auto ml-auto">
              <button class=" btn btn-info btn-fill" (click)="showModal()">
                Add Semester
              </button>
            </div>
          </div>

        </div>
        <div class="card-body">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
          
          <div class="dataTables_wrapper py-4">
            <table *ngIf="listSemesterOnSearch.length === 0" class="table">
              <nz-empty></nz-empty>
            </table>
            <table class="table" *ngIf="listSemesterOnSearch.length !== 0">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Semester</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listSemesterOnSearch; index as i">
                  <td *ngIf="page==1" class="text-center">{{i+1}}</td>
                  <td *ngIf="page>1" class="text-center">{{((page-1)*10)+(i+1)}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.startTime}}</td>
                  <td>{{item.endTime}}</td>
                  <td *ngIf="item.activated === 1">Active</td>
                  <td *ngIf="item.activated !== 1">DeActive</td>
                  <td class="td-actions text-center">
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                      title="" (click)="showEdit(i)" tooltip="Edit Semester">
                      <i class="tim-icons icon-settings"></i>
                    </button>
                    &nbsp;
                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title=""
                      title="" (click)="deActive(i)" tooltip="Deactivate Semester" [hidden]="item.activated !== 1">
                      <i class="tim-icons icon-minimal-down"></i>
                    </button>

                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                      title="" (click)="Active(i)" tooltip="Activate Semester" [hidden]="item.activated === 1">
                      <i class="tim-icons icon-minimal-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title=""
                      title="" (click)="deleteSemester(i)" tooltip="Delete Semester">
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav *ngIf="isPageShow">
              <pagination class=" justify-content-end" [(ngModel)]="page" [totalItems]="totalSize" [maxSize]="maxSize" [boundaryLinks]="true"
                (click)="pageChanged($event)">
              </pagination>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center navbar-transparent">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Add Semester</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="semesterForm" (ngSubmit)="onSubmit()">
          <div class="form-group" [ngClass]="{
      'has-danger':
        ((focusTouched || isValidFormSubmitted) && semesterF.semesterName.errors) ||
        (semesterF.semesterName.value != '' && semesterF.semesterName.errors),
      'has-success': !semesterF.semesterName.errors
    }">
            <label for="">Semester *</label>
            <input type="text" formControlName="semesterName" (focus)="focusTouched = true" class="form-control" id=""
              aria-describedby="fullName" placeholder="Enter Semester" required>
            <label class="error" *ngIf="
        ((focusTouched || isValidFormSubmitted) && semesterF.semesterName.errors) ||
        (semesterF.semesterName.value != '' && semesterF.semesterName.errors)
      ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
      'has-danger':
        ((focusTouched1 || isValidFormSubmitted) && semesterF.startDate.errors) ||
        (semesterF.startDate.value != '' && semesterF.startDate.errors),
      'has-success': !semesterF.startDate.errors
    }">
            <label for="">Start Date *</label>
            <input placeholder="Choose Start Date" formControlName="startDate" (focus)="focusTouched1 = true"
              class="form-control" bsDatepicker
              [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY'}" required />
            <label class="error" *ngIf="
        ((focusTouched1 || isValidFormSubmitted) && semesterF.startDate.errors) ||
        (semesterF.startDate.value != '' && semesterF.startDate.errors)
      ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
      'has-danger':
        ((focusTouched2 || isValidFormSubmitted) && semesterF.endDate.errors) ||
        (semesterF.endDate.value != '' && semesterF.endDate.errors),
      'has-success': !semesterF.endDate.errors
    }">
            <label for="">End Date *</label>
            <input placeholder="Choose End Date" formControlName="endDate" (focus)="focusTouched2 = true"
              class="form-control" bsDatepicker
              [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY'}" required />
            <label class="error" *ngIf="
        ((focusTouched2 || isValidFormSubmitted) && semesterF.endDate.errors) ||
        (semesterF.endDate.value != '' && semesterF.endDate.errors)
      ">This field is required.</label>
          </div>
          <label for="">* Required fields</label>
          <div class="row">
            <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isEditShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownEdit="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHiddenEdit()"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideEdit()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Edit Semester</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="semesterEditForm" (ngSubmit)="onSubmitEdit()">
          <div class="form-group" [ngClass]="{
      'has-danger':
        ((focusTouched3 || isValidFormSubmitted) && semesterEditF.semesterName.errors) ||
        (semesterEditF.semesterName.value != '' && semesterEditF.semesterName.errors),
      'has-success': !semesterEditF.semesterName.errors
    }">
            <label for="">Semester *</label>
            <input type="text" formControlName="semesterName" (focus)="focusTouched3 = true" class="form-control" id=""
              aria-describedby="fullName" placeholder="Enter Semester" required>
            <label class="error" *ngIf="
        ((focusTouched3 || isValidFormSubmitted) && semesterEditF.semesterName.errors) ||
        (semesterEditF.semesterName.value != '' && semesterEditF.semesterName.errors)
      ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
      'has-danger':
        ((focusTouched4 || isValidFormSubmitted) && semesterEditF.startDate.errors) ||
        (semesterEditF.startDate.value != '' && semesterEditF.startDate.errors),
      'has-success': !semesterEditF.startDate.errors
    }">
            <label for="">Start Date *</label>
            <input placeholder="Choose Start Date" formControlName="startDate" (focus)="focusTouched4 = true"
              class="form-control" bsDatepicker
              [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY'}" required />
            <label class="error" *ngIf="
        ((focusTouched4 || isValidFormSubmitted) && semesterEditF.startDate.errors) ||
        (semesterEditF.startDate.value != '' && semesterEditF.startDate.errors)
      ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
      'has-danger':
        ((focusTouched5 || isValidFormSubmitted) && semesterEditF.endDate.errors) ||
        (semesterEditF.endDate.value != '' && semesterEditF.endDate.errors),
      'has-success': !semesterEditF.endDate.errors
    }">
            <label for="">End Date *</label>
            <input placeholder="Choose End Date" formControlName="endDate" (focus)="focusTouched5 = true"
              class="form-control" bsDatepicker
              [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY'}" required />
            <label class="error" *ngIf="
        ((focusTouched5 || isValidFormSubmitted) && semesterEditF.endDate.errors) ||
        (semesterEditF.endDate.value != '' && semesterEditF.endDate.errors)
      ">This field is required.</label>
          </div>
          <label for="">* Required fields</label>
          <div class="row">
            <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideEdit()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

