[nz-icon] {
    margin-right: 6px;
    font-size: 24px;
  }
.back{
  background-color: lightblue;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  margin-right: 0;
}
nz-list-header{
  text-align: center;
  font-weight: bold;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}