<div class=" content">
    <div class=" row mt-5">
        <div class=" col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1>Submission {{id}}</h1>
                </div>
                <div class="card-body" *ngIf="isShow">
                    <div class="row">
                        <div class="col-sm-3">
                            <i nz-icon nzType="book" nzTheme="outline"></i>Workshop:
                            <b>{{submissionDetail.workshop.name}}</b>
                        </div>
                        <div class="col-sm-3">
                            <i nz-icon nzType="comment" nzTheme="outline"></i>Language:
                            <b>{{submissionDetail.language.name}}</b>
                        </div>
                        <div class="col-sm-3">
                            <i nz-icon nzType="calendar" nzTheme="outline"></i>Date Submit:
                            <b>{{submissionDetail.submitTime}}</b>
                        </div>
                        <div class="col-sm-3">
                            <i nz-icon nzType="field-time" nzTheme="outline"></i>Time Run: <b>{{runTimeTotal}}s</b>
                        </div>
                    </div>
                    &nbsp;
                    <div class="row">
                        <div class="col-md-3" *ngIf="submissionDetail.judging.result == 'compile-success'">
                            <i nz-icon nzType="trophy" nzTheme="outline"></i>Compilation:
                            <b style="color: green;">{{submissionDetail.judging.result}}</b>
                        </div>
                        <div class="col-md-3" *ngIf="submissionDetail.judging.result == 'compiler-error'">
                            <i nz-icon nzType="trophy" nzTheme="outline"></i>Compilation:
                            <b style="color: red;">{{submissionDetail.judging.result}}</b>
                        </div>
                        <div class="col-md-3" *ngIf="submissionDetail.judging.result == null">
                        </div>
                        <div class="col-md-auto">
                            <i nz-icon nzType="crown" nzTheme="outline"></i>Score: <b>{{submissionDetail.score}}</b>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Run(s) on the provided data</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto mr-auto">
                            <div class=" card card-chart">
                                <div class=" chart-area" style="width: 75%;"><canvas id="canvas"> </canvas></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Compilation</h1>
                            <div class="back">
                                <pre>{{submissionDetail.judging.outputCompiled}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="isModalShown" (onHidden)="onHidden()" [config]="{ show: true }" aria-hidden="true"
        aria-labelledby="myModalLabel" aria-hidden="true" aria-labelledby="myModalLabel" bsModal class=" modal fade"
        #noticeModal="bs-modal" id="noticeModal" role="dialog" tabindex="-1">
        <div class=" modal-dialog modal-notice">
            <div class=" modal-content">
                <div class=" modal-header">
                    <button aria-hidden="true" class=" close" data-dismiss="modal" (click)="noticeModal.hide()"
                        type="button">
                        <i class=" tim-icons icon-simple-remove"> </i>
                    </button>
                    <h4 class=" modal-title" id="myModalLabel">
                        Result:
                    </h4>
                </div>
                <div class=" modal-body">
                    <div class="dataTables_wrapper py-4">
                        <table class=" table" id="simple-table">
                            <tbody>
                                <tr>
                                    <th>TestCase: </th>
                                    <td>{{detailRun.judgingRunId}}</td>
                                </tr>
                                <tr>
                                    <th>Result: </th>
                                    <td style="color: green !important" *ngIf="detailRun.runResult === 'correct'">
                                        {{detailRun.runResult}}</td>
                                    <td style="color: red !important" *ngIf="detailRun.runResult !== 'correct'">
                                        {{detailRun.runResult}}</td>
                                </tr>
                                <tr>
                                    <th>Run Time: </th>
                                    <td>{{detailRun.runTime}}</td>
                                </tr>
                                <tr>
                                    <th class="align-top">OutputRun: </th>
                                    <td>
                                        <pre>{{outRun}}</pre>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="align-top">Input: </th>
                                    <td>
                                        <pre>{{input}}</pre>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="align-top">Output: </th>
                                    <td>
                                        <pre>{{output}}</pre>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class=" modal-footer justify-content-center">
                        <button class=" btn btn-info btn-round" data-dismiss="modal" (click)="noticeModal.hide()"
                            type="button">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div> -->