<div class=" content">
    <div class=" container">
      <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
        <div class=" card card-lock card-white text-center">
          <div class=" card-header">
          </div>
          <div class=" card-body">
            <h4 class=" card-title">404</h4>
            <p class=" text-danger">
                Page Not Found
            </p>
          </div>
          <div class=" card-footer">
            <a
              class=" btn btn-primary btn-round btn-lg"
              href="javascript:void(0)"
            >
              Back
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
