<div class=" content">
  <div class=" row mt-5">
    <div class=" col-md-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <div class="row">
            <div class="col-md-auto mr-auto">
              <h4 class="card-title">Admin Management</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-auto searchBar">
              <nz-select [(ngModel)]="selectedProvince" (ngModelChange)="getStatusData($event)">
                <nz-option *ngFor="let p of getStatus" [nzValue]="p" [nzLabel]="p"></nz-option>
              </nz-select>
            </div>
            <div class=" col-md-6 searchBar">
              <div class=" form-group">
                <input class=" form-control" placeholder="Search by Username, Full Name, Email" type="text" #searchBox
                  (input)="searchTerm(searchBox.value)" />
              </div>
            </div>
            <div class="col-md-auto ml-auto">
              <button class="btn btn-info" (click)="showModal()">
                Add Admin
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
          <div class="dataTables_wrapper py-4">
            <table *ngIf="listUserOnSearch.length === 0" class="table">
              <nz-empty></nz-empty>
            </table>
            <table *ngIf="listUserOnSearch.length !== 0" class="table">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Full Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody style="min-height: 400px;">
                <tr *ngFor="let item of listUserOnSearch; index as i">
                  <td *ngIf="page==1" class="text-center">{{i+1}}</td>
                  <td *ngIf="page>1" class="text-center">{{((page-1)*10)+(i+1)}}</td>
                  <td>{{item.fullName}}</td>
                  <td>{{item.username}}</td>
                  <td>{{item.email}}</td>
                  <td *ngIf="item.enabled === 1">Active</td>
                  <td *ngIf="item.enabled !== 1">Deactive</td>
                  <td class="td-actions ">
                    <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title=""
                      title="" (click)="deActive(i)" tooltip="Deactivate Admin" [hidden]="item.enabled !== 1">
                      <i class="tim-icons icon-minimal-down"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                      title="" (click)="Active(i)" tooltip="Activate Admin" [hidden]="item.enabled === 1">
                      <i class="tim-icons icon-minimal-up"></i>
                    </button>
                    &nbsp;
                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm btn-tooltip "
                      data-original-title="" title="" tooltip="Upgrade To Super Admin" (click)="upgradeSa(i)">
                      <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav *ngIf="isPageShow">
            <pagination class=" justify-content-end" [(ngModel)]="page" [totalItems]="totalSize" [maxSize] = "maxSize" [boundaryLinks]="true"
              (click)="pageChanged($event)"></pagination>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isEditShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownEdit="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onEditHidden()"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideEdit()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Edit</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">
          <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched3 || isValidFormSubmitted) && editF.roles.errors) ||
              (editF.roles.value == [] && editF.roles.errors),
            'has-success': !editF.roles.errors
          }">
            <label for="select-role">Select Roles</label>
            <angular2-multiselect id="select-role" [data]="data2" (focus)="focusTouched3 = true"
              [(ngModel)]="selectedItems2" [settings]="settings2" formControlName="roles">
            </angular2-multiselect>
            <label class="error" *ngIf="
              ((focusTouched3 || isValidFormSubmitted) && editF.roles.errors) ||
              (editF.roles.value == [] && editF.roles.errors)
            ">You must choose role</label>
          </div>
          <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched4 || isValidFormSubmitted) && editF.status.errors) ||
              (editF.status.value == [] && editF.status.errors),
            'has-success': !editF.status.errors
          }">
            <label for="change-status">Change Status</label>
            <angular2-multiselect id="change-status" (focus)="focusTouched4 = true" [data]="data1"
              [settings]="settings1" [(ngModel)]="selectedItems1" formControlName="status">
              >
            </angular2-multiselect>
            <label class="error" *ngIf="
              ((focusTouched4 || isValidFormSubmitted) && editF.status.errors) ||
              (editF.status.value == [] && editF.status.errors)
            ">You must choose status</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
  class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()"
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Add Admin</h3>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched5 || isValidFormSubmitted) && userF.username.errors) ||
              (userF.username.value != '' && userF.username.errors),
            'has-success': !userF.username.errors
          }">
            <label for="inputFullName">Username *</label>
            <input type="text" formControlName="username" class="form-control" id="inputFullName"
              aria-describedby="username" (focus)="focusTouched5 = true" placeholder="Enter Username" required
              (keyup)="onKey($event)">
            <label class="error" *ngIf="
              ((focusTouched5 || isValidFormSubmitted) && userF.username.errors) ||
              (userF.username.value != '' && userF.username.errors)
            ">This field is required.</label>
          </div>
          <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched1 || isValidFormSubmitted) && userF.email.errors) ||
              (userF.email.value != '' && userF.email.errors),
            'has-success': !userF.email.errors
          }">
            <label for="inputMail">Email address *</label>
            <input type="email" (focus)="focusTouched1 = true" formControlName="email" class="form-control"
              id="inputMail" aria-describedby="emailHelp" placeholder="Enter email" required>
            <label class="error" *ngIf="
                  ((focusTouched1 || isValidFormSubmitted) && userF.email.errors) ||
                  (userF.email.value != '' && userF.email.errors)
                ">Please enter a valid email address.</label>
          </div>
          <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched || isValidFormSubmitted) && userF.fullName.errors) ||
              (userF.fullName.value != '' && userF.fullName.errors),
            'has-success': !userF.fullName.errors
          }">
            <label for="inputFullName">Full Name *</label>
            <input type="text" formControlName="fullName" class="form-control" id="inputFullName"
              aria-describedby="fullName" (focus)="focusTouched = true" placeholder="Enter Full Name" required>
            <label class="error" *ngIf="
              ((focusTouched || isValidFormSubmitted) && userF.fullName.errors) ||
              (userF.fullName.value != '' && userF.fullName.errors)
            ">This field is required.</label>
          </div>
          <label for="">* Required fields</label>
          <div class="row">
            <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
            <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>