<div class=" content">
  <div class=" row mt-5">
    <div class=" col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-auto mr-auto">
              <h4 class="card-title">Classes</h4>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-auto searchBar">
              <nz-select [(ngModel)]="selectedProvinceSemester" (ngModelChange)="getDataSemester($event)">
                <nz-option *ngFor="let p of getSemesterCheck" [nzValue]="p" [nzLabel]="p"></nz-option>
              </nz-select>
            </div>
            <div class=" col-md-auto searchBar">
              <nz-select [(ngModel)]="selectedProvinceSubject" (ngModelChange)="getDataSubjectCode($event)">
                <nz-option *ngFor="let p of subjectCode" [nzValue]="p" [nzLabel]="p"></nz-option>
              </nz-select>
            </div>
            <div class=" col-md-auto searchBar">
              <nz-select [(ngModel)]="selectedProvinceStatus" (ngModelChange)="getDataActivated($event)">
                <nz-option *ngFor="let p of activated" [nzValue]="p" [nzLabel]="p"></nz-option>
              </nz-select>
            </div>
            <div class="col-md-3 searchBar">
              <input class=" form-control" placeholder="Search by Class" type="search" required
                #searchBox (input)="searchTerm(searchBox.value)" />
            </div>
            <div class="col-md-auto ml-auto">
              <button class=" btn btn-info btn-fill" (click)="showModalImport()">
                Import Class
              </button>
            </div>
          </div>
          <div class="card-body">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.1)" size="medium" color="#0081ff" type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
            <div class="dataTables_wrapper py-4">
              <table *ngIf="listClassesOnSearch.length === 0" class="table">
                <nz-empty></nz-empty>
              </table>
              <table class="table" *ngIf="listClassesOnSearch.length !== 0">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Semester</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listClassesOnSearch; index as i">
                    <td *ngIf="page==1" class="text-center">{{i+1}}</td>
                    <td *ngIf="page>1" class="text-center">{{((page-1)*10)+(i+1)}}</td>
                    <td>{{item.classCode}}</td>
                    <td>{{item.subject.subjectCode}}</td>
                    <td>{{item.teacher.username}}</td>
                    <td>{{item.startTime}}</td>
                    <td>{{item.endTime}}</td>
                    <td>{{item.semester.name}}</td>
                    <td class="text-center" *ngIf="item.activated === 1">Active</td>
                    <td class="text-center" *ngIf="item.activated !== 1">De-active</td>
                    <td class="text-center">
                      <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                        title="" (click)="showDetail1(i)" tooltip="See Detail Class">
                        <i class="tim-icons icon-zoom-split"></i>
                      </button>
                      &nbsp;
                      <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                        title="" (click)="updateTeacher(i)" tooltip="Change Teacher">
                        <i class="tim-icons icon-settings"></i>
                      </button>
                      &nbsp;
                      <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title=""
                        title="" (click)="deActive(i)" tooltip="Deactivate Class" [hidden]="item.activated !== 1">
                        <i class="tim-icons icon-minimal-down"></i>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title=""
                        title="" (click)="Active(i)" tooltip="Activate Class" [hidden]="item.activated === 1">
                        <i class="tim-icons icon-minimal-up"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav *ngIf="isPageShow">
              <pagination class=" justify-content-end" [(ngModel)]="page" [totalItems]="totalSize" [maxSize]="maxSize" [boundaryLinks]="true"
                (click)="pageChanged($event)">
              </pagination>
            </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isEditShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
    class="modal fade" #autoShownEdit="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHiddenEdit()"
    >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideEdit()" type="button">
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
          <div class="text-muted text-center ml-auto mr-auto">
            <h3 class="mb-0">Update Teacher</h3>
          </div>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateTeacherForm" (ngSubmit)="onSubmitEdit()">
            <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched8 || isValidFormSubmitted) && updateTeacherF.username.errors) ||
              (updateTeacherF.username.value != '' && updateTeacherF.username.errors),
            'has-success': !updateTeacherF.username.errors
          }">
              <label for="">Username Teacher *</label>
              <input type="text" formControlName="username" class="form-control" id="" aria-describedby="fullName"
                placeholder="Enter Username Teacher" required>
              <label class="error" *ngIf="
              ((focusTouched8 || isValidFormSubmitted) && updateTeacherF.username.errors) ||
              (updateTeacherF.username.value != '' && updateTeacherF.username.errors)
            ">This field is required.</label>
            </div>
            <label for="">* Required fields</label>
            <div class="row">
              <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
              <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideEdit()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isImportShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
    class="modal fade" #autoShownImport="bs-modal" id="myModal2" role="dialog" tabindex="-1"
    (onHidden)="onHiddenImport()" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideImport()" type="button">
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
          <div class="text-muted text-center ml-auto mr-auto">
            <h3 class="mb-0">Import Class</h3>
          </div>
        </div>
        <div class="modal-body">
          <form [formGroup]="importForm" (ngSubmit)="onSubmitImport()">
            <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched9 || isValidFormSubmitted) && importF.startDate.errors) ||
              (importF.startDate.value != '' && importF.startDate.errors),
            'has-success': !importF.startDate.errors
          }">
              <label for="">Start Date *</label>
              <input placeholder="Choose Start Date" formControlName="startDate" (focus)="focusTouched1 = true"
                class="form-control" bsDatepicker
                [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY'}" required />
              <label class="error" *ngIf="
              ((focusTouched9 || isValidFormSubmitted) && importF.startDate.errors) ||
              (importF.startDate.value != '' && importF.startDate.errors)
            ">This field is required.</label>
            </div>
            <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched10 || isValidFormSubmitted) && importF.endDate.errors) ||
              (importF.endDate.value != '' && importF.endDate.errors),
            'has-success': !importF.endDate.errors
          }">
              <label for="">End Date *</label>
              <input placeholder="Choose End Date" formControlName="endDate" (focus)="focusTouched2 = true"
                class="form-control" bsDatepicker
                [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY'}" required />
              <label class="error" *ngIf="
              ((focusTouched10 || isValidFormSubmitted) && importF.endDate.errors) ||
              (importF.endDate.value != '' && importF.endDate.errors)
            ">This field is required.</label>
            </div>
            <label for="">Choose File *</label>
            <div class="custom-file">
              <label class="custom-file-label" id="" for="customFile" style="color:black">{{detailFile}}</label>
              <input class="custom-file-input" type="file" id="custom-input-file" name="filename[]" multiple
                accept=".xlsx,.xls" (change)="onFileChange($event)">
            </div>
            <label for="">* Required fields</label>
            <div class="row">
              <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
              <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideImport()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isModalShown" [config]="{ show: true }" aria-hidden="true" aria-labelledby="myModalLabel" bsModal
    class="modal fade" #autoShownModal="bs-modal" id="myModal2" role="dialog" tabindex="-1" (onHidden)="onHidden()"
    >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button aria-hidden="true" class="close" data-dismiss="modal" (click)="hideModal()" type="button">
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
          <div class="text-muted text-center ml-auto mr-auto">
            <h3 class="mb-0">Add Class</h3>
          </div>
        </div>
        <div class="modal-body">
          <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
            <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched || isValidFormSubmitted) && classF.subjectCode.errors) ||
              (classF.subjectCode.value != '' && classF.subjectCode.errors),
            'has-success': !classF.subjectCode.errors
          }">
              <label for="">Subject Code *</label>
              <input type="text" formControlName="subjectCode" (focus)="focusTouched = true" class="form-control" id=""
                aria-describedby="fullName" placeholder="Enter Subject Code" required>
              <label class="error" *ngIf="
              ((focusTouched || isValidFormSubmitted) && classF.subjectCode.errors) ||
              (classF.subjectCode.value != '' && classF.subjectCode.errors)
            ">This field is required.</label>
            </div>
            <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched3 || isValidFormSubmitted) && classF.classCode.errors) ||
              (classF.classCode.value != '' && classF.classCode.errors),
            'has-success': !classF.classCode.errors
          }">
              <label for="">Class Code *</label>
              <input type="text" formControlName="classCode" (focus)="focusTouched3 = true" class="form-control" id=""
                aria-describedby="fullName" placeholder="Enter Class Code" required>
              <label class="error" *ngIf="
              ((focusTouched3 || isValidFormSubmitted) && classF.classCode.errors) ||
              (classF.classCode.value != '' && classF.classCode.errors)
            ">This field is required.</label>
            </div>
            <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched5 || isValidFormSubmitted) && classF.teacherName.errors) ||
              (classF.teacherName.value != '' && classF.teacherName.errors),
            'has-success': !classF.teacherName.errors
          }">
              <label for="">Teacher *</label>
              <input type="text" formControlName="teacherName" (focus)="focusTouched5 = true" class="form-control" id=""
                aria-describedby="fullName" placeholder="Enter Teacher" required>
              <label class="error" *ngIf="
              ((focusTouched5 || isValidFormSubmitted) && classF.teacherName.errors) ||
              (classF.teacherName.value != '' && classF.teacherName.errors)
            ">This field is required.</label>
            </div>
            <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched1 || isValidFormSubmitted) && classF.startTime.errors) ||
              (classF.startTime.value != '' && classF.startTime.errors),
            'has-success': !classF.startTime.errors
          }">
              <label for="">Start Date *</label>
              <input placeholder="Choose Start Date" formControlName="startTime" (focus)="focusTouched1 = true"
                class="form-control" bsDatepicker
                [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY'}" required />
              <label class="error" *ngIf="
              ((focusTouched1 || isValidFormSubmitted) && classF.startTime.errors) ||
              (classF.startTime.value != '' && classF.startTime.errors)
            ">This field is required.</label>
            </div>
            <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched2 || isValidFormSubmitted) && classF.endTime.errors) ||
              (classF.endTime.value != '' && classF.endTime.errors),
            'has-success': !classF.endTime.errors
          }">
              <label for="">End Date *</label>
              <input placeholder="Choose End Date" formControlName="endTime" (focus)="focusTouched2 = true"
                class="form-control" bsDatepicker
                [bsConfig]="{ isAnimated: true, containerClass: 'theme-red', dateInputFormat: 'DD/MM/YYYY'}" required />
              <label class="error" *ngIf="
              ((focusTouched2 || isValidFormSubmitted) && classF.endTime.errors) ||
              (classF.endTime.value != '' && classF.endTime.errors)
            ">This field is required.</label>
            </div>
            <div class="form-group" [ngClass]="{
            'has-danger':
              ((focusTouched6 || isValidFormSubmitted) && classF.studentRollNumbers.errors) ||
              (classF.studentRollNumbers.value != '' && classF.studentRollNumbers.errors),
            'has-success': !classF.studentRollNumbers.errors
          }">
              <label for="">Student</label>
              <input type="text" formControlName="studentRollNumbers" (focus)="focusTouched6 = true"
                class="form-control" id="" aria-describedby="fullName" placeholder="Enter Student">
              <label class="error" *ngIf="
              ((focusTouched6 || isValidFormSubmitted) && classF.studentRollNumbers.errors) ||
              (classF.studentRollNumbers.value != '' && classF.studentRollNumbers.errors)
            ">This field is required.</label>
            </div>
            <label for="">* Required fields</label>
            <div class="row">
              <button type="submit" class="btn btn-info ml-auto mr-auto">Submit</button>
              <button type="button" class="btn btn-danger ml-auto mr-auto" (click)="hideModal()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  